{% extends 'layout.html' %}
{% block content %}
<!-- ############ PAGE START-->
<div class="padding">
  <div class="box">
    <div class="box-header">
      <h3>{{project_id}}</h3>
      <small>{{project_adr}}</small>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <div class="p-y">
            <div class="nav-active-border left b-primary">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a class="nav-link block active" href data-toggle="tab" data-target="#tab-1">Basic Info</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-lg-10 light lt" style="padding-left: 0px; padding-right: 0px">
          <div class="tab-content pos-rlt">
            <div class="tab-pane active"  id="tab-1">
              <div class="p-a-md dker _600" >Basic Info</div>
              <form role="form" action="/contracts/add/basic" class="p-a-md" method="post">
              
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 form-control-label">Customer</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" name="customer">
                      </div>
                    </div>   
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 form-control-label">Partner Name</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" name="partner_name"">
                      </div>
                    </div>   
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-3 form-control-label">Project Nr</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="project_nr"">
                      </div>
                    </div>   
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-3 form-control-label">SAP Nr</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="sap_nr">
                      </div> 
                    </div>  
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-3 form-control-label">Cost Code</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="cost_code"">
                      </div>
                    </div>   
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-3 form-control-label">Manager Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="manager_name">
                      </div> 
                    </div>  
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-3 form-control-label">Estimated Value</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="estimated_value"">
                      </div>
                    </div>   
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-3 form-control-label">Work Content</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="work_content">
                      </div> 
                    </div>  
                  </div>
                </div>


                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-3 form-control-label">Contract Delivery</label>
                      <div class='input-group date col-sm-9' ui-jp="datetimepicker" ui-options="{
                            format: 'DD-MM-YYYY',
                            icons: {
                              time: 'fa fa-clock-o',
                              date: 'fa fa-calendar',
                              up: 'fa fa-chevron-up',
                              down: 'fa fa-chevron-down',
                              previous: 'fa fa-chevron-left',
                              next: 'fa fa-chevron-right',
                              today: 'fa fa-screenshot',
                              clear: 'fa fa-trash',
                              close: 'fa fa-remove'
                            }
                          }">
                        <input type='text' class="form-control" name="contract_delivery">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                      </div>
                    </div>   
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-3 form-control-label">Doc Delivery</label>
                      <div class='input-group date col-sm-9' ui-jp="datetimepicker" ui-options="{
                            format: 'DD-MM-YYYY',
                            icons: {
                              time: 'fa fa-clock-o',
                              date: 'fa fa-calendar',
                              up: 'fa fa-chevron-up',
                              down: 'fa fa-chevron-down',
                              previous: 'fa fa-chevron-left',
                              next: 'fa fa-chevron-right',
                              today: 'fa fa-screenshot',
                              clear: 'fa fa-trash',
                              close: 'fa fa-remove'
                            }
                          }">
                        <input type='text' class="form-control" name="contract_delivery">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                      </div>   
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 form-control-label">Contract Type</label>
                  <div class="col-sm-9">
                    <div class="form-group row">
                      <label class="md-check col-sm-2 form-control-label">
                        <input type="checkbox" name="is_electric">
                        <i class="red"></i>
                          electric
                      </label>
                      <label class="md-check col-sm-2 form-control-label">
                        <input type="checkbox" name="is_water">
                        <i class="green"></i>
                          water
                      </label>
                      <label class="md-check col-sm-2 form-control-label">
                        <input type="checkbox" name="is_gas">
                        <i class="yellow"></i>
                          gas
                      </label>
                      <label class="md-check col-sm-2 form-control-label">
                        <input type="checkbox" name="is_telecom">
                        <i class="blue"></i>
                          telecom
                      </label>
                      <label class="md-check col-sm-2 form-control-label">
                        <input type="checkbox" name="is_light">
                        <i class="orange"></i>
                          light
                      </label>
                      <label class="md-check col-sm-2 form-control-label">
                        <input type="checkbox" name="is_others">
                        <i class="grey"></i>
                          others
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group row">
                      <label class="col-sm-2 form-control-label">A-Elt Nr</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="electric_nr">
                      </div>
                    </div>  
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group row">
                      <label class="col-sm-2 form-control-label">A-W Nr</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="water_nr"">   
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group row">
                      <label class="col-sm-2 form-control-label">A-G Nr</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="gas_nr">  
                      </div>
                    </div> 
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 form-control-label">Rot B</label>
                  <div class="col-sm-9">
                    <label class="ui-switch primary m-t-xs m-r">
                      <input type="checkbox" name="rot_b">
                      <i></i>
                    </label>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 form-control-label">Bomb Existed</label>
                  <div class="col-sm-9">
                    <label class="ui-switch info m-t-xs m-r">
                      <input type="checkbox" name="isBombExisted">
                      <i></i>
                    </label>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 form-control-label">Doc Location</label>
                  <div class="col-sm-9">
                    <div class="form-group row">
                      <label class="col-sm-2 form-control-label">Person</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="person">  
                      </div>
                    </div> 
                    <div class="form-group row">
                      <label class="col-sm-2 form-control-label">Reason</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="reason">  
                      </div>
                    </div> 
                  </div>
                </div>
                <div class="form-group">
                  <label>Comment</label>
                  <input type="text" class="form-control" name="comment">
                </div>
                <input type="hidden" name="project_id" value="{{project_id}}">
                <button type="submit" class="btn btn-info m-t">Update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ############ PAGE END-->



<script type="text/javascript">

$("#procent_completion").append('<div class="progress-bar progress-bar-striped progress-bar-animated primary" style="width: 25%">25%</div>');

$("#building_status").on('change', function() {
  $("#procent_completion").empty();
  switch(this.value) {
    case 'open':
      $("#procent_completion").append('<div class="progress-bar progress-bar-striped progress-bar-animated primary" style="width: 25%">25%</div>');
      break;
    case 'progress':
      $("#procent_completion").append('<div class="progress-bar progress-bar-striped progress-bar-animated primary" style="width: 50%">50%</div>');
      break;
    case 'finished':
      $("#procent_completion").append('<div class="progress-bar progress-bar-striped progress-bar-animated primary" style="width: 100%">100%</div>');
      break;
    case 'done':
      $("#procent_completion").append('<div class="progress-bar progress-bar-striped progress-bar-animated primary" style="width: 100%">100%</div>');
      break;
    default:
      $("#procent_completion").append('<div class="progress-bar progress-bar-striped progress-bar-animated primary" style="width: 25%">25%</div>');
  }
});

$("#is_acceptanced").on('change', function() {
  if($(this).is(":checked")) {
    $("#add_acceptance").append('<div class="col-sm-6">'+
                    '<div class="form-group row">'+
                     ' <label class="col-sm-2 form-control-label">applied</label>'+
                      '<div class="col-sm-10">'+
                        '<div class=\'input-group date col-sm-9\' ui-jp="datetimepicker" ui-options="{'+
                           ' icons: {'+
                            '  time: \'fa fa-clock-o\','+
                             ' date: \'fa fa-calendar\','+
                            '  up: \'fa fa-chevron-up\','+
                            '  down: \'fa fa-chevron-down\','+
                            '  previous: \'fa fa-chevron-left\','+
                            '  next: \'fa fa-chevron-right\','+
                            '  today: \'fa fa-screenshot\','+
                            '  clear: \'fa fa-trash\','+
                            '  close: \'fa fa-remove\''+
                            '}'+
                          '}">'+
                        '<input type=\'text\' class="form-control" name="applied">'+
                        '<span class="input-group-addon">'+
                        '    <span class="fa fa-calendar"></span>'+
                        '</span>'+
                      '</div>  '+
                     ' </div>'+
                   ' </div> '+
                   ' </div> '+
                   '<div class="col-sm-6">'+
                   ' <div class="form-group row">'+
                   '   <label class="col-sm-2 form-control-label">granted</label>'+
                   '   <div class="col-sm-10">'+
                   '     <div class=\'input-group date col-sm-9\' ui-jp="datetimepicker" ui-options="{'+
                   '         icons: {'+
                   '           time: \'fa fa-clock-o\','+
                   '           date: \'fa fa-calendar\','+
                   '           up: \'fa fa-chevron-up\','+
                   '           down: \'fa fa-chevron-down\','+
                   '           previous: \'fa fa-chevron-left\','+
                   '           next: \'fa fa-chevron-right\','+
                   '           today: \'fa fa-screenshot\','+
                   '           clear: \'fa fa-trash\','+
                   '           close: \'fa fa-remove\''+
                   '         }'+
                   '       }">'+
                   '     <input type=\'text\' class="form-control" name="granted">'+
                   '     <span class="input-group-addon">'+
                   '         <span class="fa fa-calendar"></span>'+
                   '     </span>'+
                   '   </div> '+
                   '   </div>'+
                   ' </div> '+
                  '</div>');
  } else {
    $("#add_acceptance").empty();
  }
});

$("#is_extern_company").on('change', function() {
  if($(this).is(":checked")) {
    $("#add_extern_company").append('<div class="col-sm-6">'+
                    '<div class="form-group row">'+
                     ' <label class="col-sm-2 form-control-label">name</label>'+
                      '<div class="col-sm-10">'+
                        '<input type=\'text\' class="form-control" name="company_name">'+
                      '</div>  '+
                     ' </div>'+
                   ' </div> '+
                   ' </div> '+
                   '<div class="col-sm-6">'+
                   ' <div class="form-group row">'+
                   '   <label class="col-sm-2 form-control-label">price</label>'+
                   '   <div class="col-sm-10">'+
                   '     <input type=\'text\' class="form-control" name="price">'+
                   '   </div> '+
                   '   </div>'+
                   ' </div> '+
                  '</div>');
  } else {
    $("#add_extern_company").empty();
  }
});
</script>
{% endblock %}