{% extends 'layout.html' %}
{% block content %}
<!-- ############ PAGE START-->
<div class="p-a white lt box-shadow">
	<div class="row">
		<div class="col-sm-6">
			<h4 class="mb-0 _300">Welcome to Kuhlman</h4>
		</div>
	</div>
</div>
<div class="padding">
	<div class="row">
	    <div class="col-xs-9 col-sm-6">
	        <div class="box p-a">
	          <div class="pull-left m-r">
	            <span class="w-48 rounded primary">
	              <i class="material-icons">&#xe54f;</i>
	            </span>
	          </div>
	          <div class="clear">
	            <h4 class="m-0 text-lg _300"><a href>40 <span class="text-sm">Projects</span></a></h4>
	            <small class="text-muted">38 mine.</small>
	          </div>
	        </div>
	    </div>
	    <div class="col-xs-9 col-sm-6">
	        <div class="box p-a">
	          <div class="pull-left m-r">
	            <span class="w-48 rounded warn">
	              <i class="material-icons">&#xe8f9;</i>
	            </span>
	          </div>
	          <div class="clear">
	            <h4 class="m-0 text-lg _300"><a href>600 <span class="text-sm">todos</span></a></h4>
	            <small class="text-muted">300 emergencies</small>
	          </div>
	        </div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-sm-12 col-md-6">
	    	<div class="box">
	    		<div class="box-header">
	    			<h3>Open Projects <span class="label warning">9</span></h3>
	    			<small>Your open projects</small>
	    		</div>
		    	<ul class="list inset">
			        <li class="list-item">
			          <a herf class="list-left">
			          	<span class="w-40 r-2x _600 text-lg accent">
			            	B
			            </apan>
			          </a>
			          <div class="list-body">
			          	<div class="m-y-sm pull-right">
			            	<i class="fa fa-level-up"></i> 80%
			            	<a href class="btn btn-xs white btn-icon"><i class="fa fa-pencil"></i></a>
		            	</div>
			            <div><a href>Broadcast web app mockup</a></div>
			            <div class="text-sm">
			            	<span class="text-muted"><strong>5</strong> tasks, <strong>3</strong> issues</span> 
			            	<span class="label"></span>
			            </div>
			          </div>
			        </li>
			        <li class="list-item">
			          <a herf class="list-left">
			          	<span class="w-40 r-2x _600 text-lg success">
			            	G
			            </apan>
			          </a>
			          <div class="list-body">
			          	<div class="m-y-sm pull-right">
			            	<i class="fa fa-level-down"></i> 40%
			            	<a href class="btn btn-xs white btn-icon"><i class="fa fa-pencil"></i></a>
		            	</div>
			            <div><a href>GoodDesign Bootstrap 4 migration</a></div>
			            <div class="text-sm">
			            	<span class="text-muted"><strong>35</strong> tasks, <strong>6</strong> issues</span> 
			            	<span class="label"></span>
			            </div>
			          </div>
			        </li>
			        <li class="list-item">
			          <a herf class="list-left">
			          	<span class="w-40 r-2x _600 text-lg purple">
			            	#
			            </apan>
			          </a>
			          <div class="list-body">
			          	<div class="m-y-sm pull-right">
			            	<i class="fa fa-level-down"></i> 8%
			            	<a href class="btn btn-xs white btn-icon"><i class="fa fa-pencil"></i></a>
		            	</div>
			            <div><a href>#Hashtag android app develop</a></div>
			            <div class="text-sm">
			            	<span class="text-muted"><strong>52</strong> tasks, <strong>13</strong> issues</span> 
			            	<span class="label"></span>
			            </div>
			          </div>
			        </li>
			        <li class="list-item">
			          <a herf class="list-left">
			          	<span class="w-40 r-2x _600 blue">
			            	<i class="fa fa-lg fa-google"></i>
			            </apan>
			          </a>
			          <div class="list-body">
			          	<div class="m-y-sm pull-right">
			            	<i class="fa fa-level-up"></i> 20%
			            	<a href class="btn btn-xs white btn-icon"><i class="fa fa-pencil"></i></a>
		            	</div>
			            <div><a href>Google material design application</a></div>
			            <div class="text-sm">
			            	<span class="text-muted"><strong>15</strong> tasks, <strong>3</strong> issues</span> 
			            	<span class="label"></span>
			            </div>
			          </div>
			        </li>
			        <li class="list-item">
			          <a herf class="list-left">
			          	<span class="w-40 r-2x _600 blue-800">
			            	<i class="fa fa-lg fa-facebook"></i>
			            </apan>
			          </a>
			          <div class="list-body">
			          	<div class="m-y-sm pull-right">
			            	<i class="fa fa-level-up"></i> 30%
			            	<a href class="btn btn-xs white btn-icon"><i class="fa fa-pencil"></i></a>
		            	</div>
			            <div><a href>Facebook connection web application</a></div>
			            <div class="text-sm">
			            	<span class="text-muted"><strong>30</strong> tasks, <strong>5</strong> issues</span> 
			            	<span class="label"></span>
			            </div>
			          </div>
			        </li>
			    </ul>
		    </div>
	    </div>
	    <div class="col-sm-12 col-md-6">
	    	<div class="box">
		      <div class="box-header">
		        <h3>TODO Lists</h3>
		        <small>blabla</small>
		      </div>
		      <div class="box-tool">
		        <ul class="nav">
		          <li class="nav-item inline" style="padding-right: 5px">
      		        <select id="item_edit_status_value" class="input-sm form-control-sm inline v-middle">
						<option value="Open">Open</option>
						<option value="Pause">Pause</option>
						<option value="Closed">Closed</option>
					</select>
		          </li>
		          <li class="nav-item inline" style="padding-right: 20px">
		          	<button class="btn btn-sm white" onclick="modify_item_status()">Apply</button>
	          	  </li>
		          <li class="nav-item inline">
		            <div class="input-group input-group-sm">
				        <input type="text" id="filter" class="form-control" placeholder="Search">
			        </div>
		          </li>
		          <li class="nav-item inline dropdown">
					<a class="nav-link" data-toggle="dropdown">
		              <i class="material-icons md-18">&#xe5d4;</i>
		            </a>
		            <div class="dropdown-menu dropdown-menu-scale pull-right">
		              <a href="#" data-toggle="modal" data-target="#add-item" class="dropdown-item">Add new Item</a>
		            </div>
		          </li>
		        </ul>
		      </div>
		      <table class="table m-b-none b-t" ui-jp="footable" data-filter="#filter" data-page-size="5">
		        <thead>
		            <tr>
	            	  <th style="width:20px;" data-sort-ignore="true"><label class="ui-check m-0">
						<input class="has-value" type="checkbox" onclick="checkAll(this.checked)">
						<i></i>
						</label>
					  </th>
		              <th>Title</th>
		              <th>Priority</th>
		              <th>Status</th>
		              <th style="width:20px;" data-sort-ignore="true"></th>
		              <th style="width:20px;" data-sort-ignore="true"></th>
		            </tr>
		          </thead>
		          <tbody>
		            {% for item in items %}
		              {% set delurl = '/items/del/'+item._id %}
		              {% set itemid = ''+item._id %}
		              <tr {% if item.status === 'Pause' %}class="pause"{% endif %}{% if item.status === 'Closed' %}class="pause del"{% endif %}>
		              	<td><label class="ui-check m-0">
						<input name="check_row" class="has-value" type="checkbox" data-id="{{itemid}}">
						<i></i>
						</label></td>
			            <td>{{item.title}}</td>
			            <td>{{item.priority}}</td>
			            <td>{{item.status}}</td>
		                <td>
		                  <a href="#" data-toggle="modal" data-target="#edit-item" data-item="{{item|json}}"><i class="material-icons md-24">&#xe3c9;</i></a>
		                </td>
		                <td>
		                  <a href="#" data-href="{{delurl}}" data-toggle="modal" data-target="#del-item" data-item-tilte="{{item.title}}"><i class="material-icons md-24">&#xe872;</i></a>
		                </td>
		              </tr>
		            {% endfor %}           
		          </tbody>
		          <tfoot class="hide-if-no-paging">
		          <tr>
		              <td colspan="5" class="text-center">
		                  <ul class="pagination"></ul>
		              </td>
		          </tr>
		        </tfoot>
		      </table>
		    </div>
	    </div>
	</div>
</div>

<div id="add-item" class="modal" data-backdrop="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <form id="form" action="/items/add" method="post" >
      <div class="modal-header">
        <h5 class="modal-title">New Item</h5>
      </div>
      <div class="modal-body">
      	<div class="form-group row">
		    <label class="col-sm-2 form-control-label">Title</label>
		    <div class="col-sm-10">
			    <input type="text" class="form-control" name="title"/>
		    </div>
		</div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 form-control-label">Priority</label>
            <div class="col-sm-10">
                <select class="form-control c-select" name="priority">
                  <option value="Emergency">Emergency</option>
                  <option value="Urgent">Urgent</option>
                  <option value="Standard">Standard</option>
                  <option value="Normal">Normal</option>
                </select>
            </div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn danger p-x-md">Submit</button>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div>
</div>

<div id="edit-item" class="modal" data-backdrop="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <form id="edit-item-form">
      <div class="modal-header">
	    <div class="form-group row">
			<label class="col-sm-2 form-control-label">Title</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="edit-item-title" name="title">
			</div>
		</div>
      </div>
      <div class="modal-body">
      	<div class="form-group row">
		    <label class="col-sm-2 form-control-label">Note <a herf="#" id="add-note" class="btn btn-icon white"><i class="fa fa-plus"></i></a>
	        </label>
		    <div id="edit-item-note" class="col-sm-10">
		    </div>
		</div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 form-control-label">Priority</label>
            <div class="col-sm-4">
                <select class="form-control c-select" id="edit-item-priority" name="priority">
                  <option value="Emergency">Emergency</option>
                  <option value="Urgent">Urgent</option>
                  <option value="Standard">Standard</option>
                  <option value="Normal">Normal</option>
                </select>
            </div>
            <label for="inputPassword3" class="col-sm-2 form-control-label">Status</label>
            <div class="col-sm-4">
                <select class="form-control c-select" id="edit-item-status" name="status">
                  <option value="Open">Open</option>
                  <option value="Pause">Pause</option>
                  <option value="Closed">Closed</option>
                </select>
            </div>
      	</div>
      </div>
      <div id="submit-button" class="modal-footer">
        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn danger p-x-md">Submit</button>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div>
</div>

<div id="del-item" class="modal" data-backdrop="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete User</h5>
      </div>
      <div class="modal-body text-center p-lg">
        <p>Are you sure to delete this Item: <span id="delitemtitle" style="font-weight:bold"></span>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
        <a type="button" class="btn danger p-x-md">Yes</a>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>

<script type="text/javascript">
  //triggered when modal is about to be shown
  $('#edit-item').on('show.bs.modal', function(e) {
    var item = $(e.relatedTarget).data('item');
    $("#edit-item-title").val(item.title);
    $(".row.note").remove();
    if (item.note.length > 0) {
    	item.note.sort(function(a,b){

    		if (a.ts > b.ts) {
    			return -1;
    		}

    		if (a.ts < b.ts) {
    			return 1;
    		}

    		return 0;
    	});
    	item.note.forEach(function(note) {
    		$("#edit-item-note").append('<div class="row note"><input type="text" class="col-sm-9 form-control" name="content" value="'+note.content+'"><input type="text" class="col-sm-2 form-control" value="'+moment(note.ts).format("DD-MM-YYYY")+'" readonly><input type="hidden" class="form-control" name="ts" value="'+note.ts+'"><a class="col-sm-1 btn btn-icon white" name="remove"><i class="fa fa-remove"></i></a></div>');
    	});
    } else {
    	$("#edit-item-note").append('<div class="row note"><input type="text" class="col-sm-11 form-control" name="content"><a class="col-sm-1 btn btn-icon white" name="remove"><i class="fa fa-remove"></i></a></div>');
    }

    $("#edit-item-priority").val(item.priority);
    $("#edit-item-status").val(item.status);
   	$("#submit-button").append('<input type="hidden" class="form-control" name="id" value="'+item._id+'">');
   	$("a[name='remove']").click(function (e) {
		    $(this).parent().remove();
	});
  });

    $("#add-note").click(function() {
    	$("#edit-item-note").append('<div class="row note"><input type="text" class="col-sm-11 form-control" name="content"><a class="col-sm-1 btn btn-icon white" name="remove"><i class="fa fa-remove"></i></a></div>');
    	$("a[name='remove']").click(function (e) {
		    $(this).parent().remove();
	    });

    });

    $("#edit-item-form").on("submit", function(event){
    	event.preventDefault();
    	var item = {
    		'_id': $(this).find('input[name="id"]').val(),
   			'title': $(this).find('input[name="title"]').val(),
   			'priority': $(this).find('select[name="priority"]').val(),
   			'status': $(this).find('select[name="status"]').val(),
   			'note': []
   		};
   		$( ".row.note" ).each(function() {
		    item.note.push({"content": $(this).find('input[name="content"]').val(), "ts": $(this).find('input[name="ts"]').val()});
		});
		$.ajax({
		    type: "POST",
		    url: "/items/edit",
		    // The key needs to match your method's input parameter (case-sensitive).
		    data: JSON.stringify(item),
		    contentType: "application/json; charset=utf-8",
		    dataType: "json",
		    complete: function(XHR, TS){window.location.reload();}
		});
    });


  $('#del-item').on('show.bs.modal', function(e) {
      $("#delitemtitle").html($(e.relatedTarget).data('item-tilte'));
      $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
  });

function modify_item_status(){
	// get all checked items
	id_array = [];
	$('[name=check_row]:checked').each(function(index) {
		id_array.push(this.dataset.id);
	});
	if(id_array.length > 0){
		url = '/items/edit/status';
		data = {
			ids:id_array,
			status:$('#item_edit_status_value').val()
		}
		$.ajax({
		    type: "POST",
		    url: url,
		    // The key needs to match your method's input parameter (case-sensitive).
		    data: JSON.stringify(data),
		    contentType: "application/json; charset=utf-8",
		    dataType: "json",
		    complete: function(XHR, TS){window.location.reload();}
		});
	}

}

function checkAll(checked){
	$('[name=check_row]').each(function(index) {
		if(checked) 
			this.checked = true;
		else 
			this.checked = false;
	});
}

</script>

<!-- ############ PAGE END-->
{% endblock %}