{% extends 'layout.html' %}
{% block content %}
<!-- ############ PAGE START-->
<div class="padding">
  <div class="box">
    <div class="box-header">
      <h3>{{project_id}}</h3>
      <small>{{project_adr}}</small>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <div class="p-y">
            <div class="nav-active-border left b-primary">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a id="basic_info" class="nav-link block active" href data-toggle="tab" data-target="#tab-1">Basic Info</a>
                </li>
                <li class="nav-item">
                  <a id="building" class="nav-link block" href data-toggle="tab" data-target="#tab-2">Building</a>
                </li>
                <li  class="nav-item">
                  <a id="building_permission" class="nav-link block" href data-toggle="tab" data-target="#tab-3">Building Permission</a>
                </li>
                <li class="nav-item">
                  <a id="ofw" class="nav-link block" href data-toggle="tab" data-target="#tab-4">OFW Status</a>
                </li>
                <li class="nav-item">
                  <a id="financial" class="nav-link block" href data-toggle="tab" data-target="#tab-5">financial accounting</a>
                </li>
                <li class="nav-item">
                  <a id="fibu" class="nav-link block" href data-toggle="tab" data-target="#tab-6">Fibu</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-lg-10 light lt" style="padding-left: 0px; padding-right: 0px">
          <div class="tab-content pos-rlt">
            <div class="tab-pane active"  id="tab-1">
              <div class="p-a-md dker _600" >Basic Info</div>
              {% include 'edit_contract_basic.html' %}
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="p-a-md dker _600">Buliding</div>
              {% include 'edit_contract_building.html' %}
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="p-a-md dker _600">Building Permission</div>
              {% include 'edit_contract_building_permission.html' %}
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="p-a-md dker _600">OFW Status</div>
              {% include 'edit_contract_ofw.html' %}
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="p-a-md dker _600">Financial Accounting</div>
              {% include 'edit_contract_financial.html' %}
            </div>
            <div class="tab-pane" id="tab-6">
              <div class="p-a-md dker _600">Fibu</div>
              {% include 'edit_contract_fibu.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ############ PAGE END-->

<!-- ############ Modal Begin-->
{% include 'edit_contract_building_permission_modal.html' %}

{% include 'edit_contract_financial_modal.html' %}

<div id="del-item" class="modal" data-backdrop="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
      </div>
      <div class="modal-body text-center p-lg">
        <p>Are you sure to delete : <span id="delitemtitle" style="font-weight:bold"></span>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
        <a type="button" class="btn danger p-x-md">Yes</a>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
<!-- ############ Modal End-->


<script type="text/javascript">

// Attach a submit handler to the form
$("form").submit(function( event ) {
  // Get some values from elements on the page:
  url = $(this).attr( "action" );
  if (url != '/contracts/edit/permission' && url !='/contracts/edit/invocie'){
    // Stop form from submitting normally
    event.preventDefault();
   
    // Send the data using post
    var posting = $.post( url, $(this).serialize() );
   
    // Put the results in a div
    posting.done(function( data ) {
      bootbox.alert(data);
    });  
  }
});

$('#edit-permission').on('show.bs.modal', function(e) {
    $(this).find('form')[0].reset();
    var permission = $(e.relatedTarget).data('permission');
    if (permission) {
      $("#tpye").val(permission.type);
      $("#doc_delivery").val(moment(permission.doc_delivery).format("DD-MM-YYYY"));
      $("#begin").val(moment(permission.begin).format("DD-MM-YYYY"));
      $("#end").val(moment(permission.end).format("DD-MM-YYYY"));
      $("#permission_cost").val(permission.cost);
      $("#permission_status").val(permission.permission_status);
      $("#permission_id").val(permission._id);
    }
    calPermissionStatus();
});

$('#edit-invocie').on('show.bs.modal', function(e) {
    $(this).find('form')[0].reset();
    var invocie = $(e.relatedTarget).data('invocie');
    if (invocie) {
      $("#rechnung_nr").val(invocie.rechnung_nr);
      $("#current_value").val(invocie.current_value);
      $("#sum").val(invocie.sum);
      $("#aufmass_am").val(moment(invocie.aufmass_am).format("DD-MM-YYYY"));
      $("#bewert_aufmass").val(moment(invocie.bewert_aufmass).format("DD-MM-YYYY"));
      $("#end").val(moment(invocie.end).format("DD-MM-YYYY"));
      $("#guts_datum").val(moment(invocie.guts_datum).format("DD-MM-YYYY"));
      $("#invocie_id").val(invocie._id);
    }
  });

$('#del-item').on('show.bs.modal', function(e) {
      $("#delitemtitle").html($(e.relatedTarget).data('item-tilte'));
      $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
  });


$("#building_status").on('change', function() {
  switch(this.value) {
    case '00':
      $("#procent_completion_pg").empty();
      $("#procent_completion_pg").append('<div class="progress-bar progress-bar-striped progress-bar-animated primary" style="width: 0%">0%</div>');
      $("#procent_completion").attr("hidden","hidden");
      $("#procent_completion").attr("min","0");
      $("#procent_completion").val(0);
      break;
    case '01':
      $("#procent_completion").removeAttr("hidden");
      break;
    case '02':
      $("#procent_completion").removeAttr("hidden");
      break;
    case '03':
      $("#procent_completion").removeAttr("hidden");
      break;
    case '04':
      $("#procent_completion_pg").empty();
      $("#procent_completion_pg").append('<div class="progress-bar progress-bar-striped progress-bar-animated primary" style="width: 100%">100%</div>');
      $("#procent_completion").attr("hidden","hidden");
      $("#procent_completion").val(100);
      break;
  }
});

{% if contract.ofw.is_acceptance_activ %}
  $("#add_acceptance").append(getAcceptanceForm());
  $("#applied").val("{% if contract.ofw.acceptance.applied %}{{contract.ofw.acceptance.applied | date('d-m-Y')}}{% endif %}");
  $("#granted").val("{% if contract.ofw.acceptance.granted %}{{contract.ofw.acceptance.granted | date('d-m-Y')}}{% endif %}");
{% endif %}

$("#is_acceptance_activ").on('change', function() {
  if($(this).is(":checked")) {
      $("#add_acceptance").append(getAcceptanceForm());
      $("#applied").val("{% if contract.ofw.acceptance.applied %}{{contract.ofw.acceptance.applied | date('d-m-Y')}}{% endif %}");
      $("#granted").val("{% if contract.ofw.acceptance.granted %}{{contract.ofw.acceptance.granted | date('d-m-Y')}}{% endif %}");
  } else {
    $("#add_acceptance").empty();
  }
});

function changeProgress(value){
  $("#procent_completion_pg").empty();
  $("#procent_completion_pg").append('<div class="progress-bar progress-bar-striped progress-bar-animated primary" style="width: '+value.toString()+'%">'+value.toString()+'%</div>');
}

function getAcceptanceForm() {
    return '<div class="col-sm-6">'+
        '<div class="form-group row">'+
        ' <label class="col-sm-2 form-control-label">applied</label>'+
        '<div class="col-sm-10">'+
        '<div class=\'input-group date col-sm-9\' ui-jp="datetimepicker" ui-options="{'+"format: 'DD-MM-YYYY',"+
        ' icons: {'+
        '  time: \'fa fa-clock-o\','+
        ' date: \'fa fa-calendar\','+
        '  up: \'fa fa-chevron-up\','+
        '  down: \'fa fa-chevron-down\','+
        '  previous: \'fa fa-chevron-left\','+
        '  next: \'fa fa-chevron-right\','+
        '  today: \'fa fa-screenshot\','+
        '  clear: \'fa fa-trash\','+
        '  close: \'fa fa-remove\''+
        '}'+
        '}">'+
        '<input type=\'text\' class="form-control" id="applied" name="applied">'+
        '<span class="input-group-addon">'+
        '    <span class="fa fa-calendar"></span>'+
        '</span>'+
        '</div>  '+
        ' </div>'+
        ' </div> '+
        ' </div> '+
        '<div class="col-sm-6">'+
        ' <div class="form-group row">'+
        '   <label class="col-sm-2 form-control-label">granted</label>'+
        '   <div class="col-sm-10">'+
        '     <div class=\'input-group date col-sm-9\' ui-jp="datetimepicker" ui-options="{'+"format: 'DD-MM-YYYY',"+
        '         icons: {'+
        '           time: \'fa fa-clock-o\','+
        '           date: \'fa fa-calendar\','+
        '           up: \'fa fa-chevron-up\','+
        '           down: \'fa fa-chevron-down\','+
        '           previous: \'fa fa-chevron-left\','+
        '           next: \'fa fa-chevron-right\','+
        '           today: \'fa fa-screenshot\','+
        '           clear: \'fa fa-trash\','+
        '           close: \'fa fa-remove\''+
        '         }'+
        '       }">'+
        '     <input type=\'text\' class="form-control" id="granted" name="granted">'+
        '     <span class="input-group-addon">'+
        '         <span class="fa fa-calendar"></span>'+
        '     </span>'+
        '   </div> '+
        '   </div>'+
        ' </div> '+
        '</div>';
}

// trigger change event in date form
$(".date").on('dp.change', function (ev) {
    calStatusOfBuilding();
    calStatusOfOFW();
    calPermissionStatus();
});


// check building status
calStatusOfBuilding();

function calStatusOfBuilding() {
    switch (calStatusOfTime($("#plan_begin").val(), $("#plan_end").val())) {
        case 1:
            $("#building_status").val('02');
            break;
        case 2:
            $("#building_status").val('03');
            break;
        default:
            break;
    }

  $("#building_status").change();
}

// check ofw status
calStatusOfOFW();
$('#is_acceptance_activ').change(function(){
    calStatusOfOFW();
});


function calStatusOfOFW() {
    var ofw_var1, ofw_var2;
    switch (calStatusOfTime($("#ofw_delivery").val(), $("#ofw_completion_at").val())) {
        case 0:
            ofw_var1 = 'OFW nicht gebaut';
            break;
        case 1:
            ofw_var1 = 'OFW im Bau';
            break;
        case 2:
            ofw_var1 = 'OFW fertig';
            break;
        default:
            break;
    }

    {% if contract.customer === 'STW' %}
    if($('#permission_nr').val().trim().length > 0) {
        ofw_var2 = $('#permission_nr').val();
    } else {
        ofw_var2 = 'Meld.Nr. nicht vorhand';
    }
    {% else %}
    if ($('#is_acceptance_activ').is(':checked')) {
        switch (calStatusOfTime($("#applied").val(), $("#granted").val())) {
            case 1:
                ofw_var2 = 'Abn. Noetig (zu beantragen)';
                break;
            case 1:
                ofw_var2 = 'Abn. beantragt';
                break;
            case 2:
                ofw_var2 = 'Abn. vorhanden';
                break;
            default:
                break;
        }
    } else {
        ofw_var2 = 'Abnahme nicht noetig';
    }
    {% endif %}

    $('#ofw_status').val(ofw_var1+' - '+ofw_var2);

}

// -1 : status not defined
// 0 : not begin
// 1 : in progress
// 2 : finished
function calStatusOfTime(t_begin, t_end) {
    var now = moment();
    if ( moment(t_begin, "DD-MM-YYYY", true).isValid()  && moment(t_end, "DD-MM-YYYY", true).isValid() ) {
        if (now.isAfter(moment(t_end,"DD-MM-YYYY"))) {
            return 2;
        } else if (now.isAfter(moment(t_begin,"DD-MM-YYYY"))) {
            return 1;
        } else {
            return 0;
        }
    } else if (moment(t_begin, "DD-MM-YYYY", true).isValid() ){

        if (now.isAfter(moment(t_begin,"DD-MM-YYYY"))) {
            return 1;
        } else {
            return 0;
        }
    } else if (moment(t_end, "DD-MM-YYYY", true).isValid() ){

        if (now.isAfter(moment(t_end,"DD-MM-YYYY"))) {
            return 2;
        } else {
            return 0
        }
    } else {
        return 0;
    }
}

// check permission status
$('#permission_cost').change(function(){
    calPermissionStatus();
});

function calPermissionStatus() {
    $('#permission_status').val('zu beantragen');

    if (! moment($('#doc_delivery').val(), "DD-MM-YYYY", true).isValid()) {
        $('#begin, #end, #permission_cost').empty();
        $('#begin, #end, #permission_cost').attr('readonly', true);
    } else {
        $('#begin, #end, #permission_cost').attr('readonly', false);

        var license_var1, license_var2;
        if ($('#permission_tpye').val()=== 'VBA') {
            if (moment($('#begin').val(), "DD-MM-YYYY", true).isValid() && moment($('#end').val(), "DD-MM-YYYY", true).isValid()){
                license_var1 = $('#begin').val()+ ' bis '+ $('#end').val();
            } else {
                license_var1 = 'beantragt am '+$('#doc_delivery').val();
            }
        } else {
            if (moment($('#begin').val(), "DD-MM-YYYY", true).isValid() && moment($('#end').val(), "DD-MM-YYYY", true).isValid()){
                license_var1 = 'Beginn ab '+$('#begin').val();
            } else {
                license_var1 = 'beantragt am '+$('#doc_delivery').val();
            }
        }

        license_var2 = getNumValue($('#permission_cost').val());
        $('#permission_status').val(license_var1 + ' - ' + license_var2);
    }
}

function getNumValue(value){
    if (isNaN(parseFloat(value))) {
        return '';
    }
    return parseFloat(value);
}

$(document).ready(function() {
  {% if jump_building_permission %}
    var msg = 'update building_permission done!';
    {% if err %}
      msg = 'update building_permission failed!';
    {% endif %}  
    bootbox.alert(msg);
    $('#building_permission')[0].click();
    window.history.pushState("building_permission", "Contract Management", document.referrer);
  {% endif %}
  {% if jump_financial %}
    var msg = 'update invocie done!';
    {% if err %}
      msg = 'update invocie failed!';
    {% endif %}      
    bootbox.alert(msg);
    $('#financial')[0].click();
    window.history.pushState("invocie", "Contract Management", document.referrer);
  {% endif %}
});
</script>
{% endblock %}
