<form role="form" action="/contracts/edit/building" class="p-a-md" method="post">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <label class="col-sm-3 form-control-label">Plan Begin</label>
                <div class='input-group date col-sm-9' ui-jp="datetimepicker" ui-options="{
                            format: 'DD-MM-YYYY',
                            icons: {
                              time: 'fa fa-clock-o',
                              date: 'fa fa-calendar',
                              up: 'fa fa-chevron-up',
                              down: 'fa fa-chevron-down',
                              previous: 'fa fa-chevron-left',
                              next: 'fa fa-chevron-right',
                              today: 'fa fa-screenshot',
                              clear: 'fa fa-trash',
                              close: 'fa fa-remove'
                            }
                          }">
                    <input type='text' class="form-control" id="plan_begin" name="plan_begin" value="{{contract.building_work.plan_begin | date('d-m-Y')}}">
                    <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row">
                <label class="col-sm-3 form-control-label">Plan End</label>
                <div id="plan_end_div" class='input-group date col-sm-9' ui-jp="datetimepicker" ui-options="{
                            format: 'DD-MM-YYYY',
                            icons: {
                              time: 'fa fa-clock-o',
                              date: 'fa fa-calendar',
                              up: 'fa fa-chevron-up',
                              down: 'fa fa-chevron-down',
                              previous: 'fa fa-chevron-left',
                              next: 'fa fa-chevron-right',
                              today: 'fa fa-screenshot',
                              clear: 'fa fa-trash',
                              close: 'fa fa-remove'
                            }
                          }">
                    <input type='text' class="form-control" id="plan_end" name="plan_end" value="{{contract.building_work.plan_end | date('d-m-Y')}}">
                    <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-3 form-control-label">Worker</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="worker_name" value="{{contract.building_work.worker_name}}">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-3 form-control-label">Working Month</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="working_months" value="{{contract.building_work.working_months}}">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-3 form-control-label">Status</label>
                <div class="col-md-9">
                    <select class="form-control c-select" id="building_status" name="status">
                        <option disabled selected value> -- select an status -- </option>
                        <option value="00" {% if contract.building_work.status ==='00' %}selected{% endif %} >00- in der Vorbereitung</option>
                        <option value="01" {% if contract.building_work.status ==='01' %}selected{% endif %} >01- vorbereiten zu bauen</option>
                        <option value="02" {% if contract.building_work.status ==='02' %}selected{% endif %}>02- geplant in Bau</option>
                        <option value="03" {% if contract.building_work.status ==='03' %}selected{% endif %} >03- fertig gebaut, Mappe abzug</option>
                        <option value="04" {% if contract.building_work.status ==='04' %}selected{% endif %} >04- Tiefbau &amp; Montage erledigt</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-3 form-control-label">Procent</label>
                <div class="col-md-9">
                    <div id="procent_completion" class="progress mt-2"></div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="contract_id" value="{{contract.id}}"/>
    <input type="hidden" name="contract_invoice" value="{{contract.invoice | json}}"/>
    <button type="submit" class="btn btn-info m-t">Update</button>
</form>