<div class="box">
    <div class="box-header">
        <h3>Invocie Lists</h3>
    </div>
    <div class="box-tool">
        <ul class="nav">
            <li class="nav-item inline">
                <div class="input-group input-group-sm">
                    <input type="text" id="filter" class="form-control" placeholder="Search">
                </div>
            </li>
            <li class="nav-item inline dropdown">
                <a class="nav-link" data-toggle="dropdown">
                    <i class="material-icons md-18">&#xe5d4;</i>
                </a>
                <div class="dropdown-menu dropdown-menu-scale pull-right">
                    <a href="#" data-toggle="modal" data-target="#edit-invocie" class="dropdown-item">Add new Invocie</a>
                </div>
            </li>
        </ul>
    </div>
    <table class="table m-b-none b-t" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
        <tr>
            <th>Invocie Nr</th>
            <th>Current value</th>
            <th>Sum</th>
            <th>Status</th>
            <th style="width:20px;" data-sort-ignore="true"></th>
            <th style="width:20px;" data-sort-ignore="true"></th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in contract.invoice %}
        {% set delurl = '/contracts/'+contract.id+'/del/invoice?id='+invoice._id+'&project_id='+project_id+'&project_adr='+project_adr %}
        <tr>
            <td>{{invoice.rechnung_nr}}</td>
            <td>{{invoice.current_value}}</td>
            <td>{{invoice.sum}}</td>
            <td>{{invoice.status}}</td>
            <td>
                <a href="#" data-toggle="modal" data-target="#edit-invocie" data-invocie="{{invoice|json}}"><i class="material-icons md-24">&#xe3c9;</i></a>
            </td>
            <td>
                <a href="#" data-href="{{delurl}}" data-toggle="modal" data-target="#del-item" data-item-tilte="{{invoice.rechnung_nr}}""><i class="material-icons md-24">&#xe872;</i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot class="hide-if-no-paging">
        <tr>
            <td colspan="5" class="text-center">
                <ul class="pagination"></ul>
            </td>
        </tr>
        </tfoot>
    </table>
</div>