{% extends 'layout.html' %}
{% block content %}
<!-- ############ PAGE START-->
<!-- ############ PAGE END-->

<!-- ############ Modal Begin-->
{% include 'edit_contract_building_permission_modal.html' %}

{% include 'edit_contract_financial_modal.html' %}

<div id="del-item" class="modal" data-backdrop="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
      </div>
      <div class="modal-body text-center p-lg">
        <p>Are you sure to delete : <span id="delitemtitle" style="font-weight:bold"></span>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
        <a type="button" class="btn danger p-x-md">Yes</a>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
<!-- ############ Modal End-->


<script type="text/javascript">


$('#edit-permission').on('show.bs.modal', function(e) {
    $(this).find('form')[0].reset();
    var permission = $(e.relatedTarget).data('permission');
    if (permission) {
      $("#tpye").val(permission.type);
      $("#doc_delivery").val(moment(permission.doc_delivery).format("DD-MM-YYYY"));
      $("#begin").val(moment(permission.begin).format("DD-MM-YYYY"));
      $("#end").val(moment(permission.end).format("DD-MM-YYYY"));
      $("#permission_cost").val(permission.cost);
      $("#permission_status").val(permission.permission_status);
      $("#permission_id").val(permission._id);
    }
    calPermissionStatus();
});

$('#edit-invocie').on('show.bs.modal', function(e) {
    $(this).find('form')[0].reset();
    var invocie = $(e.relatedTarget).data('invocie');
    if (invocie) {
      $("#rechnung_nr").val(invocie.rechnung_nr);
      $("#current_value").val(invocie.current_value);
      $("#sum").val(invocie.sum);
      if(invocie.aufmass_am){
        $("#aufmass_am").val(moment(invocie.aufmass_am).format("DD-MM-YYYY"));
      }
      $("#bewert_aufmass").val(moment(invocie.bewert_aufmass).format("DD-MM-YYYY"));
      if (invocie.guts_datum) {
        $("#guts_datum").val(moment(invocie.guts_datum).format("DD-MM-YYYY"));
      }
      $("#invoice_status").val(invocie.invoice_status).change();
      $("#invocie_id").val(invocie._id);
    }
  });

$('#del-item').on('show.bs.modal', function(e) {
      $("#delitemtitle").html($(e.relatedTarget).data('item-tilte'));
      $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
  });


$("#building_status").on('change', function() {
  var $p = $($(".progress")[0]); 
  switch(this.value) {
    case '00':
      alert('00');
      $p.slider( "option", "now", 0.1 );
      $p.slider( "option", "disabled", true );
      break;
    case '04':
      alert('04');
      $p.slider( "option", "now", 100 );
      $p.slider( "option", "disabled", true );    
      break;
    default:
      $p.slider( "option", "disabled", false );
      break;
  }
});

{% if contract.ofw.is_acceptance_activ %}
  $("#add_acceptance").show();
{% else %}
  $("#add_acceptance").hide();
{% endif %}

$("#is_acceptance_activ").on('change', function() {
  if($(this).is(":checked")) {
      $("#add_acceptance").show();
  } else {
    $("#add_acceptance").hide();
  }
});

$(function(){
    var $p = $($(".progress")[0]);

    $p.on( "sliderchange", function(e,result){
      $('#building_progress_bar').html(result.value);
    });
});

// trigger change event in date form
$(".date").on('dp.change', function (ev) {
    calStatusOfBuilding();
    calStatusOfOFW();
    calPermissionStatus();
    calInvoiceStatus();
});


// check building status
//calStatusOfBuilding();

function calStatusOfBuilding() {
    switch (calStatusOfTime($("#plan_begin").val(), $("#plan_end").val())) {
        case 1:
            $("#building_status").val('02');
            break;
        case 2:
            $("#building_status").val('03');
            break;
        default:
            break;
    }

  $("#building_status").change();
}

// check ofw status
//calStatusOfOFW();
$('#is_acceptance_activ').change(function(){
    calStatusOfOFW();
});


function calStatusOfOFW() {
    var ofw_var1, ofw_var2;
    switch (calStatusOfTime($("#ofw_delivery").val(), $("#ofw_completion_at").val())) {
        case 0:
            ofw_var1 = 'OFW nicht gebaut';
            break;
        case 1:
            ofw_var1 = 'OFW im Bau';
            break;
        case 2:
            ofw_var1 = 'OFW fertig';
            break;
        default:
            break;
    }

    {% if contract.customer === 'STW' %}
    if($('#permission_nr').val().trim().length > 0) {
        ofw_var2 = $('#permission_nr').val();
    } else {
        ofw_var2 = 'Meld.Nr. nicht vorhand';
    }
    {% else %}
    if ($('#is_acceptance_activ').is(':checked')) {
        switch (calStatusOfTime($("#applied").val(), $("#granted").val())) {
            case 0:
                ofw_var2 = 'Abn. Noetig (zu beantragen)';
                break;
            case 1:
                ofw_var2 = 'Abn. beantragt';
                break;
            case 2:
                ofw_var2 = 'Abn. vorhanden';
                break;
            default:
                break;
        }
    } else {
        ofw_var2 = 'Abnahme nicht noetig';
    }
    {% endif %}

    $('#ofw_status').val(ofw_var1+' - '+ofw_var2);

}

// -1 : status not defined
// 0 : not begin
// 1 : in progress
// 2 : finished
function calStatusOfTime(t_begin, t_end) {
    var now = moment();
    if ( moment(t_begin, "DD-MM-YYYY", true).isValid()  && moment(t_end, "DD-MM-YYYY", true).isValid() ) {
        if (now.isAfter(moment(t_end,"DD-MM-YYYY"))) {
            return 2;
        } else if (now.isAfter(moment(t_begin,"DD-MM-YYYY"))) {
            return 1;
        } else {
            return 0;
        }
    } else if (moment(t_begin, "DD-MM-YYYY", true).isValid() ){

        if (now.isAfter(moment(t_begin,"DD-MM-YYYY"))) {
            return 1;
        } else {
            return 0;
        }
    } else if (moment(t_end, "DD-MM-YYYY", true).isValid() ){

        if (now.isAfter(moment(t_end,"DD-MM-YYYY"))) {
            return 2;
        } else {
            return 0
        }
    } else {
        return 0;
    }
}

// check permission status
$('#permission_cost').change(function(){
    calPermissionStatus();
});

function calPermissionStatus() {
    $('#permission_status').val('zu beantragen');

    if (! moment($('#doc_delivery').val(), "DD-MM-YYYY", true).isValid()) {
        $('#begin, #end, #permission_cost').empty();
        $('#begin, #end, #permission_cost').attr('readonly', true);
    } else {
        $('#begin, #end, #permission_cost').attr('readonly', false);

        var license_var1, license_var2;
        if ($('#permission_tpye').val()=== 'VBA') {
            if (moment($('#begin').val(), "DD-MM-YYYY", true).isValid() && moment($('#end').val(), "DD-MM-YYYY", true).isValid()){
                license_var1 = $('#begin').val()+ ' bis '+ $('#end').val();
            } else {
                license_var1 = 'beantragt am '+$('#doc_delivery').val();
            }
        } else {
            if (moment($('#begin').val(), "DD-MM-YYYY", true).isValid() && moment($('#end').val(), "DD-MM-YYYY", true).isValid()){
                license_var1 = 'Beginn ab '+$('#begin').val();
            } else {
                license_var1 = 'beantragt am '+$('#doc_delivery').val();
            }
        }

        license_var2 = getNumValue($('#permission_cost').val());
        $('#permission_status').val(license_var1 + ' - ' + license_var2);
    }
}

$('#correction_needed, #sum, #rechnung_nr , #booking_month').change(function(){
    calInvoiceStatus();
});

function calInvoiceStatus() {
    console.log('calInvoiceStatus');
    $('#aufmass_am, #bewert_aufmass, #rechnung_nr,#guts_datum, #booking_month').attr('readonly', true);
    if ($('#correction_needed').is(":checked")) {
        $('#invoice_status').val('06').change();
    } else if (getNumValue($('#sum').val())> 0) {
        if ( !isDateValid('aufmass_am') && !isDateValid('bewert_aufmass') && isFieldEmpty('rechnung_nr') && !isDateValid('guts_datum')) {
            $('#invoice_status').val('03').change();
            $('#aufmass_am').attr('readonly', false);
        } else if (isDateValid('aufmass_am') && !isDateValid('bewert_aufmass') && isFieldEmpty('rechnung_nr') && !isDateValid('guts_datum')) {
            $('#invoice_status').val('04').change();
            $('#aufmass_am, #bewert_aufmass').attr('readonly', false);
        } else if (isDateValid('aufmass_am') && isDateValid('bewert_aufmass') && isFieldEmpty('rechnung_nr') && !isDateValid('guts_datum')) {
            $('#invoice_status').val('05').change();
            $('#aufmass_am, #bewert_aufmass, #rechnung_nr').attr('readonly', false);
        } else if (!isFieldEmpty('rechnung_nr') && isDateValid('guts_datum')) {
            $('#invoice_status').val('06').change();
            $('#aufmass_am, #bewert_aufmass, #rechnung_nr, #guts_datum, #booking_month').attr('readonly', false);
        } else if (!isFieldEmpty('rechnung_nr')) {
            $('#aufmass_am, #bewert_aufmass, #rechnung_nr, #guts_datum').attr('readonly', false);
        }
    }
}

function getNumValue(value){
    if (isNaN(parseFloat(value))) {
        return 0;
    }
    return parseFloat(value);
}

function isFieldEmpty(field_id) {
    if($('#'+field_id).val().trim().length > 0) {
        return false;
    }

    return true;
}

function isDateValid(field_id) {
    return moment($('#'+field_id).val(), "DD-MM-YYYY", true).isValid();
}

function set_building_permission_active_state(state){
  if(state){
    $('#building_permission_not_activ').attr('hidden', 'hidden');
    $('#building_permission_activ').removeAttr('hidden');
  }else{
    $('#building_permission_activ').attr('hidden', 'hidden');
    $('#building_permission_not_activ').removeAttr('hidden');
  }
}

function set_ofw_active_state (state) {
  if(state){
    $('#ofw_not_activ').attr('hidden', 'hidden');
    $('#ofw_activ').removeAttr('hidden');
  }else{
    $('#ofw_activ').attr('hidden', 'hidden');
    $('#ofw_not_activ').removeAttr('hidden');
  }  
}

$(document).ready(function() {
  {% if jump_building_permission %}
    var msg = 'update building_permission done!';
    {% if err %}
      msg = 'update building_permission failed!';
    {% endif %}  
    bootbox.alert(msg);
    $('#building_permission')[0].click();
    window.history.pushState("building_permission", "Contract Management", document.referrer);
  {% endif %}

  {% if jump_financial %}
    var msg = 'update invocie done!';
    {% if err %}
      msg = 'update invocie failed!';
    {% endif %}      
    bootbox.alert(msg);
    $('#financial')[0].click();
    window.history.pushState("invocie", "Contract Management", document.referrer);
  {% endif %}

  {% if !contract.is_building_permission_activ %}
    set_building_permission_active_state(false);
  {% else %}
    set_building_permission_active_state(true);
  {% endif %}

  {% if !contract.is_ofw_activ %}
    set_ofw_active_state(false);
  {% else %}
    set_ofw_active_state(true);
  {% endif %}
});
</script>
{% endblock %}
