<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kuhlmann</title>
  <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="assets/app/css/Login-Form-Dark.css">
</head>

<body>
<div class="login-dark">
  <form action="/login" method="post" style="background-color:#253f5b;">
    <h2 class="sr-only">Login Form</h2>
    <div class="illustration"><img class="img-thumbnail" src="assets/app/img/0- Kuhlmann Logo neu.jpg" width="120px"></div>
    <div class="form-group">
      <input class="form-control" type="email" name="email" placeholder="Email" style="color:#ffffff;">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit" style="background-color:#4f728e;">Log In</button>
    </div><a href="#" class="forgot" style="color:#ffffff;">Forgot your email or password?</a></form>
</div>
</body>

</html>