<div id="contract-permissions-modal" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content light">
            <form action="/contracts/edit/permission" method="post" >
                <div class="modal-header dker _600">
                    <h5 id="permission-title" class="modal-title">Genehmigungen f&uuml;r die Baustelle</h5>
                    <label class="ui-switch primary m-t-xs m-r">
                        <input type="checkbox" name="is_building_permission_activ" id="is_building_permission_activ">
                        <i></i>
                    </label>
                </div>
                <div class="modal-body">
                    <div id="building_permission_not_activ" class="form-group">
                        <label>Diese Baustelle braucht keine</label>
                    </div>
                    <div id="building_permission_activ">
                        <button id="add-permission" type="button" onclick="editPermission()" class="btn white">
                            <i class="fa fa-plus"></i> neue Genehmigung
                        </button>
                        <table id="permissions" class="table m-b-none b-t" ui-jp="footable" data-filter="#filter" data-page-size="5">
                            <thead>
                            <tr>
                                <th>Typ</th>
                                <th>Beginn</th>
                                <th>Ende</th>
                                <th>Kosten</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="building_permission_form" >
                        {% include 'modal_contract_building_permission.html' %}
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="contract_id" id="permission_contract_id" value="">
                    <input type="hidden" id="permission_id" name="permission_id" value="">
                    <input type="hidden" name="project_id" id="permission_project_id" value="">
                    <input type="hidden" name="cost_code" id="permission_cost_code">
                    <input type="hidden" name="change_permission" id="change_permission">
                    <button type="button" class="btn dark-white m-t" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-info m-t">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>
