<div id="add-item" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="form" action="/items/add" method="post" >
                <div class="modal-header">
                    <h5 class="modal-title">Neue Todo</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Titel</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 form-control-label">Priorit&auml;t</label>
                        <div class="col-sm-10">
                            <select class="form-control c-select" name="priority">
                                <option value="01">01- wichtig & dringend (Sofort)</option>
                                <option value="02">02- wichtig & nicht dringend (sp&auml;ter)</option>
                                <option value="03">03- unwichtig & dringend (Delegieren)</option>
                                <option value="04">04- unwichtig & nicht dringend (Ablage)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark-white m-t" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-info m-t">Speichern</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div>
</div>


<div id="edit-item" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="edit-item-form">
                <div class="modal-header">
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-item-title" name="title">
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Note <a herf="#" id="add-note" class="btn btn-icon white"><i class="fa fa-plus"></i></a>
                        </label>
                        <div id="edit-item-note" class="col-sm-10">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 form-control-label">Priority</label>
                        <div class="col-sm-4">
                            <select class="form-control c-select" id="edit-item-priority" name="priority">
                                <option value="Emergency">Emergency</option>
                                <option value="Urgent">Urgent</option>
                                <option value="Standard">Standard</option>
                                <option value="Normal">Normal</option>
                            </select>
                        </div>
                        <label for="inputPassword3" class="col-sm-2 form-control-label">Status</label>
                        <div class="col-sm-4">
                            <select class="form-control c-select" id="edit-item-status" name="status">
                                <option value="Open">Open</option>
                                <option value="Pause">Pause</option>
                                <option value="Closed">Closed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="submit-button" class="modal-footer">
                    <button type="button" class="btn dark-white m-t" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-info m-t">Speichern</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div>
</div>

<div id="del-item" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete User</h5>
            </div>
            <div class="modal-body text-center p-lg">
                <p>Are you sure to delete this Item: <span id="delitemtitle" style="font-weight:bold"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                <a type="button" class="btn danger p-x-md">Yes</a>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
