<div id="contract-invoices-modal" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div id="invoices-overview" class="modal-content light">
            <div class="modal-header dker _600">
                <h5 class="modal-title">Update Invoice</h5>
                <button onclick="editInvoice()" class="btn btn-icon white">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <div class="modal-body">
                <table id="invoices" class="table m-b-none b-t" ui-jp="footable" data-filter="#filter" data-page-size="5">
                    <thead>
                    <tr>
                        <th>Invoice Nr</th>
                        <th>Sum</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark-white m-t" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
        <div id="invoice-detail" class="modal-content light">
            {% include 'modal_contract_invoice.html' %}
        </div>
    </div>
</div>
