<div id="contract-report-modal" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content light">
            <div class="modal-header dker _600">
                <h5 class="modal-title">Kosten vs Leistung - Aufragsversion</h5>
                <a class="pull-right text-muted text-lg p-a-sm m-r-sm" data-dismiss="modal">×</a>
            </div>
            <div class="modal-body">
              <div ui-jp="chart" ui-options="{
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                legend: {
                    data: ['Personal', 'Material', 'Sont.Gerate', 'Fremdleist', 'sonstige', 'total']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                yAxis:  {
                    type: 'value'
                },
                xAxis: {
                    type: 'category',
                    data: ['Kosten','Rechnungswert','Schatzwert']
                },
                series: [
                    {
                        name: 'Personal',
                        type: 'bar',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'insideRight'
                            }
                        },
                        data: [50000, 0, 0]
                    },
                    {
                        name: 'Material',
                        type: 'bar',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'insideRight'
                            }
                        },
                        data: [10000, 0, 0]
                    },
                    {
                        name: 'Sont.Gerate',
                        type: 'bar',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'insideRight'
                            }
                        },
                        data: [20000, 0, 0]
                    },
                    {
                        name: 'Fremdleist',
                        type: 'bar',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'insideRight'
                            }
                        },
                        data: [8000, 0, 0]
                    },
                    {
                        name: 'sonstige',
                        type: 'bar',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'insideRight'
                            }
                        },
                        data: [12000, 0, 0]
                    },
                    {
                        name: 'total',
                        type: 'bar',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'insideRight'
                            }
                        },
                        data: [0, 200000, 150000]
                    }                                             
                ]
              }" style="height:300px" >
              </div>
            </div>
            <div class="modal-footer dker _600">
                <button type="button" class="btn dark-white m-t" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
