<div id="contract-basic-modal" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content light">
            <form id="contract-basic-modal-form" role="form" action="/contracts/edit/basic" method="post">
                <div class="modal-header dker _600">
                    <h5 id="contract-modal-title" class="modal-title">Information des Auftrags</h5>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding-top:7px;">
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Auftragsgeber: </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="input-sm" name="customer" id="customer" value="AVA, STW etc." required="" style="width:100%;font-size:16px;padding-left:0px;height:35px;">
                                        <option value="AVA">Avacon</option>
                                        <option value="STW">Stadtwerk</option>
                                        <option value="TK">Telekom</option>
                                        <option value="EWE">EWE</option>
                                        <option value="EWA">EWA</option>
                                        <option value="Purena">Purena</option>
                                        <option value="Fremd">Fremd</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Adresse: </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="contract_street" id="contract_street" placeholder="Mustermann Str. 1 *" autocomplete="on" style="font-size:16px;height:35px;padding-left:3px;width:100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5" style="margin-top:7px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Kostenstelle: </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="cost_code" id="cost_code" required="" placeholder="xx-xx-xx*" autocomplete="on" inputmode="numeric" style="font-size:16px;height:35px;padding-left:3px;width:100%;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-7" style="margin-top:7px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Auftraginhalt: </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="work_content" id="work_content" placeholder="EHA, WHA, StB etc.*" autocomplete="on" style="font-size:16px;height:35px;padding-left:3px;width:100%;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12" style="margin-top:7px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Schätzwert / Auftragswert:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="estimated_value" id="estimated_value" placeholder="nur positive Zahlen*" autocomplete="on" inputmode="numeric" style="font-size:16px;height:35px;padding-left:3px;width:100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:20px;">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Ansprechenpartner: </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="partner_name" id="partner_name" required="" placeholder="Ansprechenpartner" autocomplete="on" style="font-size:16px;height:35px;padding-left:3px;width:100%;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Auftr. Nr. / Project Nr.: </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="contract_extern_id" id="contract_extern_id" placeholder="Auftr. Nr. / SM Nr. (nach AG anpassen)" autocomplete="on" style="font-size:16px;height:35px;padding-left:3px;width:100%;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">SAP Nr. / Bestell. Nr.:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="sap_nr" id="sap_nr" placeholder="(nach AG anpassen)" autocomplete="on" style="font-size:16px;height:35px;padding-left:3px;width:100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Elt. Nr.: </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="electric_nr" id="electric_nr" required="" placeholder="(nach AG anpassen)" autocomplete="on" style="font-size:16px;height:35px;padding-left:3px;width:100%;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Wasser Nr.: </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="water_nr" id="water_nr" placeholder="(nach AG anpassen)" autocomplete="on" style="font-size:16px;height:35px;padding-left:3px;width:100%;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Gas Nr.:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="gas_nr" id="gas_nr" placeholder="(nach AG anpassen)" autocomplete="on" style="font-size:16px;height:35px;padding-left:3px;width:100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-top:20px;">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Datum des Auftr. Eingang: </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='input-group date col-md-12' ui-jp="datetimepicker" ui-options="{
                                            format: 'DD-MM-YYYY',
                                            icons: {
                                              time: 'fa fa-clock-o',
                                              date: 'fa fa-calendar',
                                              up: 'fa fa-chevron-up',
                                              down: 'fa fa-chevron-down',
                                              previous: 'fa fa-chevron-left',
                                              next: 'fa fa-chevron-right',
                                              today: 'fa fa-screenshot',
                                              clear: 'fa fa-trash',
                                              close: 'fa fa-remove'
                                            }
                                          }">
                                            <input type='text' class="form-control" name="contract_delivery" id="contract_delivery">
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Datum des Doku. Eingang: </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group date col-md-12" ui-jp="datetimepicker" ui-options="{
                                            format: 'DD-MM-YYYY',
                                            icons: {
                                              time: 'fa fa-clock-o',
                                              date: 'fa fa-calendar',
                                              up: 'fa fa-chevron-up',
                                              down: 'fa fa-chevron-down',
                                              previous: 'fa fa-chevron-left',
                                              next: 'fa fa-chevron-right',
                                              today: 'fa fa-screenshot',
                                              clear: 'fa fa-trash',
                                              close: 'fa fa-remove'
                                            }
                                          }">
                                            <input type='text' class="form-control" name="doc_delivery" id="doc_delivery">
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-12" style="margin-top:20px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Auftragstypen: </label>
                                </div>
                            </div>
                            <div class="row" style="height:35px;">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="checkbox" style="margin-top:7px;width:100%;">
                                        <label class="md-check col-sm-2 form-control-label" style="font-size:16px;width:100%;">
                                            <input type="checkbox" name="is_electric" id="is_electric">
                                            <i class="red"></i>Elt
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="checkbox" style="margin-top:7px;width:100%;">
                                        <label class="md-check col-sm-2 form-control-label" style="font-size:16px;width:100%;">
                                            <input type="checkbox" name="is_gas" id="is_gas">
                                            <i class="yellow"></i>Gas
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="checkbox" style="margin-top:7px;">
                                        <label class="md-check col-sm-2 form-control-label" style="font-size:16px;width:100%;">
                                            <input class="md-check col-sm-2 form-control-label" type="checkbox" name="is_water" id="is_water">
                                            <i class="green"></i>Wasser
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="height:35px;margin-top:18px;">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="checkbox" style="margin-top:7px;">
                                        <label class="md-check col-sm-2 form-control-label" style="font-size:16px;width:100%;">
                                            <input type="checkbox" name="is_light" id="is_light">
                                            <i class="orange"></i>Beleuchtung
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="checkbox" style="margin-top:7px;">
                                        <label class="md-check col-sm-2 form-control-label" style="font-size:16px;width:100%;">
                                            <input type="checkbox" name="is_telecom" id="is_telecom">
                                            <i class="blue"></i>Telekom
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="checkbox" style="margin-top:7px;">
                                        <label class="md-check col-sm-2 form-control-label" style="font-size:16px;width:100%;">
                                            <input type="checkbox" name="is_others" id="is_others">
                                            <i class="grey"></i>Sonstige
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" style="margin-top:30px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Mappe Zustand (Wo - Grund): </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <input type="text" name="person" id="person" placeholder="wo, bei wem etc." class="datetimepicker form-control" style="width:100%;">
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-right:0px;padding-left:8px;padding-top:4px;">
                                    <label style="font-size:18px;width:100%;">- </label>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-left:0px;">
                                    <input type="text" name="reason" id="reason" placeholder="Grund, Ziel etc." class="datetimepicker form-control" style="width:100%;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Kommentar: </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea name="comment" id="contract_basic_comment" style="min-width:100%;max-width:100%;height:35px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12" style="margin-top:30px;">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Rote Berichtigung: </label>
                                        </div>
                                    </div>
                                    <div class="row" style="height:35px;padding-left:15px;">
                                        <div>
                                            <div class="checkbox" style="margin-top:7px;width:100%;">
                                                <label class="ui-switch info m-t-xs m-r">
                                                    <input type="checkbox" name="rot_b" id="rot_b">
                                                    <i></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);width:100%;">Kampfsmittel: </label>
                                        </div>
                                    </div>
                                    <div class="row" style="height:35px;padding-left:15px;">
                                        <div>
                                            <div class="checkbox" style="margin-top:7px;width:100%;">
                                                <label class="ui-switch info m-t-xs m-r">
                                                    <input type="checkbox" name="isBombExisted" id="isBombExisted">
                                                    <i></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer dker _600">
                    <input type="hidden" name="contract_id" id="basic_contract_id">
                    <input type="hidden" name="project_id" id="basic_project_id">
                    <button type="button" class="btn dark-white m-t" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-info m-t">Weiter</button>
                </div>
            </form>
        </div>
    </div>
</div>
