<div id="contract-permissions-modal" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div id="permissions-overview" class="modal-content light">
            <div class="modal-header dker _600">
                <h5 class="modal-title">Update Permission</h5>
                <button id="add-permission" onclick="addnewpermission()" class="btn btn-icon white">
                    <i class="fa fa-plus"></i>
                </button>

            </div>
            <div class="modal-body">
                <div id="building_permission_not_activ" class="form-group">
                    <label>No Need Building Permission</label>
                </div>
                <div id="building_permission_activ">
                    <table id="permissions" class="table m-b-none b-t" ui-jp="footable" data-filter="#filter" data-page-size="5">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Begin</th>
                            <th>End</th>
                            <th>Cost</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <div id="permission-detail" class="modal-content light">
            {% include 'modal_contract_building_permission.html' %}
        </div>
    </div>
</div>
