<div id="project-modal" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content light">
            <form id="project-modal-form" action="" method="post" data-parsley-validate="">
                <div class="modal-header dker _600">
                    <h5 id="project-modal-title" class="modal-title">Information der Baustelle</h5>
                </div>
                <div class="modal-body">
                    <div class="container" style="margin:0px;">
                        <div class="row" style="padding-top:10px;">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-9">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Straße: </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" id="street" name="street" placeholder="Mustermann Str.*" autocomplete="on" style="font-size:16px;height:35px;padding-left:3px;width:100%;" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">HsNr.: </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" id="housenr" name="housenr" placeholder="HsNr.*" style="font-size:16px;height:35px;padding-left:3px;width:100%;" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">PLZ: </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" id="zipcode" name="zipcode" placeholder="XXXXX" autocomplete="on" style="font-size:16px;height:35px;padding-left:3px;width:100%;" data-parsley-type="integer" data-parsley-minlength="5" data-parsley-maxlength="5">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Ort: </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" id="community" name="community" placeholder="Muster Ort*" autocomplete="on" style="font-size:16px;height:35px;padding-left:3px;width:100%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px;">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Kommentart der Baustelle: </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea id="comment" name="comment" style="width:100%;max-width:100%;min-width:100%;height:145px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Baustelle Path: </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" id="files_path" readonly placeholder="wird autom. generiert" style="font-size:16px;height:35px;padding-left:3px;width:100%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left:0px;">
                                        <div class="row">
                                            <div class="col-md-12"><a class="hint--left" data-hint="copy path"><i class="material-icons copy_porject_path" style="padding-top:25px;color:rgb(95,95,95);">content_copy</i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Fremdleitungsplan Path: </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" id="linesplan_files_path" readonly placeholder="wird autom. generiert" style="font-size:16px;height:35px;padding-left:3px;width:100%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left:0px;">
                                        <div class="row">
                                            <div class="col-md-12"><a class="hint--left" data-hint="copy path"><i class="material-icons copy_linesplan_files_path" style="padding-top:25px;color:rgb(95,95,95);">content_copy</i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label style="padding-left:0px;margin-bottom:0px;color:rgb(95,95,95);">Genehmigung Path: </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" id="permission_files_path" readonly="" placeholder="wird autom. generiert" style="font-size:16px;height:35px;padding-left:3px;width:100%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left:0px;">
                                        <div class="row">
                                            <div class="col-md-12"><a class="hint--left" data-hint="copy path"><i class="material-icons copy_permission_files_path" style="padding-top:25px;color:rgb(95,95,95);">content_copy</i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer dker _600">
                    <button type="button" class="btn dark-white m-t" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-info m-t">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>
