<div id="contract-ofw-modal" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content light">
            <form role="form" action="/contracts/edit/ofw" method="post">
                <div class="modal-header dker _600">
                    <h5 class="modal-title">Oberfl&auml;cher Wiederherstellung</h5>
                    <label class="ui-switch primary m-t-xs m-r">
                        <input type="checkbox" name="is_ofw_activ" id="is_ofw_activ">
                        <i></i>
                    </label>
                </div>
                <div id="ofw_not_activ">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Es gibt keine OFW</label>
                        </div>
                    </div>
                </div>
                <div id="ofw_activ">
                    <div class="modal-body">
                        <div class="row stw">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Kolonne der OFW</label>
                                    <input type="text" class="form-control" name="worker_name" id="ofw_worker_name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">MeldungsNr. der OFW</label>
                                    <input type="text" class="form-control" id="ofw_permission_nr" name="permission_nr">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Datum des Weiterleiten</label>
                                    <div class='input-group date' ui-jp="datetimepicker" ui-options="{
                                        format: 'DD-MM-YYYY',
                                        icons: {
                                          time: 'fa fa-clock-o',
                                          date: 'fa fa-calendar',
                                          up: 'fa fa-chevron-up',
                                          down: 'fa fa-chevron-down',
                                          previous: 'fa fa-chevron-left',
                                          next: 'fa fa-chevron-right',
                                          today: 'fa fa-screenshot',
                                          clear: 'fa fa-trash',
                                          close: 'fa fa-remove'
                                        }
                                      }">
                                        <input type='text' class="form-control" id="ofw_delivery" name="delivery">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">fertig am</label>
                                    <div class='input-group date' ui-jp="datetimepicker" ui-options="{
                                            format: 'DD-MM-YYYY',
                                            icons: {
                                              time: 'fa fa-clock-o',
                                              date: 'fa fa-calendar',
                                              up: 'fa fa-chevron-up',
                                              down: 'fa fa-chevron-down',
                                              previous: 'fa fa-chevron-left',
                                              next: 'fa fa-chevron-right',
                                              today: 'fa fa-screenshot',
                                              clear: 'fa fa-trash',
                                              close: 'fa fa-remove'
                                            }
                                          }">
                                        <input type='text' class="form-control" id="ofw_completion_at" name="completion_at">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                         </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" style="margin-top:3%">
                            <label class="col-sm-2 form-control-label">OFW Type</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="md-check form-control-label">
                                        <input type="checkbox" name="bausstr" id="bausstr">
                                        <i class="red"></i>
                                        Baustrasse
                                    </label>
                                    <label class="md-check form-control-label">
                                        <input type="checkbox" name="fahrbahn" id="fahrbahn">
                                        <i class="green"></i>
                                        Fahrbahn
                                    </label>
                                    <label class="md-check form-control-label">
                                        <input type="checkbox" name="fussweg" id="fussweg">
                                        <i class="yellow"></i>
                                        Fussweg
                                    </label>
                                    <label class="md-check form-control-label">
                                        <input type="checkbox" name="bitu" id="bitu">
                                        <i class="blue"></i>
                                        Bitu
                                    </label>
                                    <label class="md-check form-control-label">
                                        <input type="checkbox" name="pflaster" id="pflaster">
                                        <i class="orange"></i>
                                        Pflaster
                                    </label>
                                    <label class="md-check form-control-label">
                                        <input type="checkbox" name="beton" id="beton">
                                        <i class="grey"></i>
                                        Beton
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label">&Uuml;berdicken</label>
                            <div class="col-md-2">
                                <input type='number' class="form-control" name="ueberdicken" id="ofw_ueberdicken" >
                            </div>
                            <label class="col-sm-8 form-control-label">CM</label>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">ger&auml;mt</label>
                            <div class="col-sm-9">
                                <label class="ui-switch primary m-t-xs m-r">
                                    <input type="checkbox" name="clean" id="clean">
                                    <i></i>
                                </label>
                            </div>
                        </div>

                        <div class="form-group row notstw">
                            <label class="col-sm-3 form-control-label">Abname notwendig</label>
                            <div class="col-sm-9">
                                <label class="ui-switch primary m-t-xs m-r">
                                    <input type="checkbox" id="is_acceptance_activ" name="is_acceptance_activ" >
                                    <i></i>
                                </label>
                            </div>
                        </div>
                        <div id="add_acceptance" class="row notstw">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Abnahme gesendet am</label>
                                    <div class='input-group date' ui-jp="datetimepicker" ui-options="{
                                    format: 'DD-MM-YYYY',
                                    icons: {
                                      time: 'fa fa-clock-o',
                                      date: 'fa fa-calendar',
                                      up: 'fa fa-chevron-up',
                                      down: 'fa fa-chevron-down',
                                      previous: 'fa fa-chevron-left',
                                      next: 'fa fa-chevron-right',
                                      today: 'fa fa-screenshot',
                                      clear: 'fa fa-trash',
                                      close: 'fa fa-remove'
                                    }
                                  }">
                                        <input type='text' class="form-control" id="ofw_applied" name="applied">
                                        <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Abnahme bekommen am</label>
                                    <div class='input-group date' ui-jp="datetimepicker" ui-options="{
                                    format: 'DD-MM-YYYY',
                                    icons: {
                                      time: 'fa fa-clock-o',
                                      date: 'fa fa-calendar',
                                      up: 'fa fa-chevron-up',
                                      down: 'fa fa-chevron-down',
                                      previous: 'fa fa-chevron-left',
                                      next: 'fa fa-chevron-right',
                                      today: 'fa fa-screenshot',
                                      clear: 'fa fa-trash',
                                      close: 'fa fa-remove'
                                    }
                                  }">
                                        <input type='text' class="form-control" id="ofw_granted" name="granted">
                                        <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" style="display:none">
                            <label class="col-sm-2 form-control-label">OFW Status</label>
                            <div class="col-sm-10">
                                <input type='text' class="form-control" id="ofw_status" name="ofw_status" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer dker _600">
                    <input type="hidden" name="contract_customer" id="ofw_contract_customer">
                    <input type="hidden" name="contract_id" id="ofw_contract_id">
                    <input type="hidden" name="project_id" id="ofw_project_id">
                    <input type="hidden" name="cost_code" id="ofw_cost_code">
                    <button type="button" class="btn dark-white m-t" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-info m-t">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

