
<div id="contract-building-modal" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content light">
            <div class="modal-header dker _600">
                <h5 class="modal-title">Update Building</h5>
            </div>
            <form role="form" action="/contracts/edit/building" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Plan Begin</label>
                                <div class='input-group date col-sm-9' ui-jp="datetimepicker" ui-options="{
                            format: 'DD-MM-YYYY',
                            icons: {
                              time: 'fa fa-clock-o',
                              date: 'fa fa-calendar',
                              up: 'fa fa-chevron-up',
                              down: 'fa fa-chevron-down',
                              previous: 'fa fa-chevron-left',
                              next: 'fa fa-chevron-right',
                              today: 'fa fa-screenshot',
                              clear: 'fa fa-trash',
                              close: 'fa fa-remove'
                            }
                          }">
                                    <input type='text' class="form-control" id="plan_begin" name="plan_begin">
                                    <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Plan End</label>
                                <div id="plan_end_div" class='input-group date col-sm-9' ui-jp="datetimepicker"
                                     ui-options="{
                            format: 'DD-MM-YYYY',
                            icons: {
                              time: 'fa fa-clock-o',
                              date: 'fa fa-calendar',
                              up: 'fa fa-chevron-up',
                              down: 'fa fa-chevron-down',
                              previous: 'fa fa-chevron-left',
                              next: 'fa fa-chevron-right',
                              today: 'fa fa-screenshot',
                              clear: 'fa fa-trash',
                              close: 'fa fa-remove'
                            }
                          }">
                                    <input type='text' class="form-control" id="plan_end" name="plan_end">
                                    <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label">Worker</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="worker_name" id="building_worker_name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label">Working Month</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="working_months" id="building_working_months">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label">Status</label>
                                <div class="col-md-9">
                                    <select class="form-control c-select" id="building_status" name="status">
                                        <option value="" selected value> -- select an status --</option>
                                        <option value="00">00- in der Vorbereitung</option>
                                        <option value="01">01- vorbereiten zu bauen</option>
                                        <option value="02">02- geplant in Bau</option>
                                        <option value="03">03- fertig gebaut, Mappe abzug</option>
                                        <option value="04">04- Tiefbau &amp; Montage erledigt</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Messing Doc</label>
                                <div class='input-group date col-sm-9' ui-jp="datetimepicker"
                                     ui-options="{
                                        format: 'DD-MM-YYYY',
                                        icons: {
                                          time: 'fa fa-clock-o',
                                          date: 'fa fa-calendar',
                                          up: 'fa fa-chevron-up',
                                          down: 'fa fa-chevron-down',
                                          previous: 'fa fa-chevron-left',
                                          next: 'fa fa-chevron-right',
                                          today: 'fa fa-screenshot',
                                          clear: 'fa fa-trash',
                                          close: 'fa fa-remove'
                                        }
                                      }">
                                    <input type='text' class="form-control" id="messing_doc_delivery" name="messing_doc_delivery">
                                    <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label">Procent</label>
                                <div class="col-md-9">
                                    <input id="procent_completion" name="procent_completion" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer dker _600">
                    <input type="hidden" name="contract_id" id="building_contract_id">
                    <input type="hidden" name="project_id" id="building_project_id">
                    <input type="hidden" name="contract_invoice" />
                    <input type="hidden" name="cost_code" id="building_cost_code">
                    <button type="button" class="btn dark-white m-t" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-info m-t" >Update</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
