<div id="contract-report-modal" class="modal" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content light">
            <div class="modal-header dker _600">
                <h5 class="modal-title">Kosten vs Leistung - Aufragsversion</h5>
                <a class="pull-right text-muted text-lg p-a-sm m-r-sm" data-dismiss="modal">×</a>
            </div>
            <div class="modal-body">
              <div id="report" style="width: 700px;height:450px;">
              </div>
            </div>
            <div class="modal-footer dker _600">
                <button type="button" class="btn dark-white m-t" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
