{% extends 'layout.html' %}
{% block content %}
<!-- ############ PAGE START-->

  <div class="item">
    <div class="item-bg">
      <img src="{{user.icon}}" class="blur opacity-3">
    </div>
    <div class="p-a-md">
      <div class="row m-t">
        <div class="col-sm-7">
          <a class="pull-left m-r-md">
            <span class="avatar w-96">
              <img src="{{user.icon}}">
              <i class="on b-white"></i></a>
            </span>
          </a>
          <div class="clear m-b">
            <h3 class="m-0 m-b-xs">{{user.name}}</h3>
          </div>
        </div>
        <div class="col-sm-5">
          <p class="text-md profile-status">I am feeling good!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="dker p-x">
    <div class="row">
      <div class="col-sm-6 push-sm-6">
      </div>
      <div class="col-sm-6 pull-sm-6">
        <div class="p-y-md clearfix nav-active-primary">
          <ul class="nav nav-pills nav-sm">
            <li class="nav-item active">
              <a class="nav-link" id="update" href="#">Update</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="padding">
    <div class="row">
      <div class="col-sm-8 col-lg-9">
        <div class="tab-content">      
          <div class="tab-pane p-v-sm active" id="tab_1">
            <form ui-jp="parsley" id="form" action="{{action}}" method="post" encType="multipart/form-data">
              <div class="row m-b">
                <div class="col-xs-6">
                  <small class="text-muted">Initialen</small>
                  <input style="display: none;" type="text" class="form-control" name="shortname" value="{{user.shortname}}">
                  <div class="_500">{{user.shortname}}</div>
                </div>
                <div class="col-xs-6">
                  <small class="text-muted">Email</small>
                  <input style="display: none;" type="text" class="form-control" name="email" value="{{user.email}}" readonly="true">
                  <div class="_500">{{user.email}}</div>
                </div>
              </div>

              <div class="row m-b">
                <div class="col-xs-6">
                  <small class="text-muted">Position</small>
                  <input style="display: none;" type="text" class="form-control" name="position" value="{{user.position}}">
                  <div class="_500">{{user.position}}</div>
                </div>
                <div class="col-xs-6">
                  <small class="text-muted">Telefon</small>
                  <input style="display: none;" type="text" class="form-control" name="tel" value="{{user.tel}}">
                  <div class="_500">{{user.tel}}</div>
                </div>
              </div>

              <div class="row m-b">
                <div class="col-xs-6">
                  <small class="text-muted">Abteilung</small>
                  <input style="display: none;" type="text" class="form-control" name="department" value="{{user.department}}" readonly="true">
                  <div class="_500">{{user.department}}</div>
                </div>
                <div class="col-xs-6">
                  <small class="text-muted">Firma</small>
                  <input style="display: none;" type="text" class="form-control" name="company" value="{{user.company}}" readonly="true">
                  <div class="_500">{{user.company}}</div>
                </div>
              </div>

              <div class="row m-b">
                <div class="col-xs-6">
                  <small class="text-muted">Strasse</small>
                  <input style="display: none;" type="text" class="form-control" name="addr" value="{{user.addr}}">
                  <div class="_500">{{user.addr}}</div>
                </div>
                <div class="col-xs-6">
                  <small class="text-muted">PLZ</small>
                  <input style="display: none;" type="text" class="form-control" name="plz" value="{{user.plz}}">
                  <div class="_500">{{user.plz}}</div>
                </div>
                <div class="col-xs-6">
                  <small class="text-muted">Stadt</small>
                  <input style="display: none;" type="text" class="form-control" name="city" value="{{user.city}}">
                  <div class="_500">{{user.city}}</div>
                </div>
              </div>
              <div class="row m-b">
                <div id="iconDiv" style="display: none;" class="col-xs-6">
                  <small class="text-muted">Icon</small>
                  <input style="display: none;" type="file" name="icon" class="form-control"></input>
                </div>                 
              </div>                
              <div class="row m-b">
                <div class="col-xs-6">
                  <small class="text-muted">Cost Code</small>
                  <input style="display: none;" type="text" class="form-control" name="cost_code" value="{{user.cost_code}}" readonly="true">
                  <div class="_500">{{user.cost_code}}</div>
                </div>                 
              </div>              
              <div class="row m-b">
                <div class="col-xs-6" id="editButtons" style="display: none;">
                  <a href="#" id="cancel" type="button" class="btn white">Cancel</a>
                  <button style="cursor: pointer" type="submit" class="btn info">Submit</button>
                </div> 
              </div>
            </form>  
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- ############ PAGE END-->
<div id="uploadUserHeadIcon" class="modal" data-backdrop="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form ui-jp="parsley" id="upform" action="/user/icon/edit" method="post" encType="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title">Upload User Head Icon</h5>
        </div>
        <div class="modal-body text-center p-lg">
          <input type="file" name="icon" class="form-control"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Cancel</button>
          <input type="submit" value="SUBMIT" class="btn info"/>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div>
</div>

<script type="text/javascript">
$('#update').on('click', function(e) {
  changeEditState();
});

$('#cancel').on('click', function(e) {
  changeEditState();
});

function changeEditState(){
  $('.col-xs-6 input').toggle();
  $('.col-xs-6 div').toggle();
  $('#editButtons').toggle();
  $('#iconDiv').toggle();
}
</script>
{% endblock %}