{% extends 'layout.html' %}
{% block content %}
<!-- ############ PAGE START-->

  <div class="item">
    <div class="item-bg">
      <img src="/assets/images/a1.jpg" class="blur opacity-3">
    </div>
    <div class="p-a-md">
      <div class="row m-t">
        <div class="col-sm-7">
          <a href class="pull-left m-r-md">
            <span class="avatar w-96">
              <img src="/assets/images/a1.jpg">
              <i class="on b-white"></i>
            </span>
          </a>
          <div class="clear m-b">
            <h3 class="m-0 m-b-xs">{{name}}</h3>
            <p class="text-muted"><span class="m-r">UX/UI Director</span> <small><i class="fa fa-map-marker m-r-xs"></i>London, UK</small></p>
          </div>
        </div>
        <div class="col-sm-5">
          <p class="text-md profile-status">I am feeling good!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="dker p-x">
    <div class="row">
      <div class="col-sm-6 push-sm-6">
      </div>
      <div class="col-sm-6 pull-sm-6">
        <div class="p-y-md clearfix nav-active-primary">
          <ul class="nav nav-pills nav-sm">
            <li class="nav-item active">
              <a class="nav-link" href data-toggle="tab" data-target="#tab_1">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="padding">
    <div class="row">
      <div class="col-sm-8 col-lg-9">
        <div class="tab-content">      
          <div class="tab-pane p-v-sm active" id="tab_1">

            <div class="row m-b">
              <div class="col-xs-6">
                <small class="text-muted">Initialen</small>
                <div class="_500">{{user.shortname}}</div>
              </div>
              <div class="col-xs-6">
                <small class="text-muted">Email</small>
                <div class="_500">{{user.email}}</div>
              </div>
            </div>

            <div class="row m-b">
              <div class="col-xs-6">
                <small class="text-muted">Position</small>
                <div class="_500">{{user.position}}</div>
              </div>
              <div class="col-xs-6">
                <small class="text-muted">Telefon</small>
                <div class="_500">{{user.tel}}</div>
              </div>
            </div>

            <div class="row m-b">
              <div class="col-xs-6">
                <small class="text-muted">Abteilung</small>
                <div class="_500">{{user.department}}</div>
              </div>
              <div class="col-xs-6">
                <small class="text-muted">Firma</small>
                <div class="_500">{{user.company}}</div>
              </div>
            </div>

            <div class="row m-b">
              <div class="col-xs-6">
                <small class="text-muted">Strasse</small>
                <div class="_500">{{user.addr}}</div>
              </div>
              <div class="col-xs-6">
                <small class="text-muted">Ort</small>
                <div class="_500">Bockenheim</div>
              </div>
              <div class="col-xs-6">
                <small class="text-muted">PLZ</small>
                <div class="_500">{{user.plz}}</div>
              </div>
              <div class="col-xs-6">
                <small class="text-muted">Stadt</small>
                <div class="_500">{{user.city}}</div>
              </div>
              <div class="col-xs-6">
                <small class="text-muted">Bundesland</small>
                <div class="_500">Hessen</div>
              </div>
              <div class="col-xs-6">
                <small class="text-muted">Land/Region</small>
                <div class="_500">Deutschland</div>
              </div>
            </div>      
            <div>
              <small class="text-muted">Bio</small>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- ############ PAGE END-->
{% endblock %}