{% extends 'layout.html' %}
{% block content %}
<!-- ############ PAGE START-->
<div class="padding">
  <div class="box">
    <div class="box-header">
      <h3>{{subtitle}}</h3>
    </div>
    <div class="box-body">
      <div class="row p-a">
        <div class="col-sm-5">
          <a href="#" data-toggle="modal" data-target="#project-modal" class="btn btn-outline b-primary text-primary">Add New Project</a>
        </div>
      </div>
      <div class="table-responsive">
        <table id="project" class="table table-striped b-t b-b dataTable no-footer" ui-jp="dataTable">
          <thead>
          <tr>
            <th></th>
            <th>Project Nr</th>
            <th>Community</th>
            <th>Street</th>
            <th>House Nr</th>
            <th>Finished/All</th>
            <th data-sort-ignore="true">Project Types</th>
            <th style="width:20px;" data-sort-ignore="true"></th>
            <th style="width:20px;" data-sort-ignore="true"></th>
          </tr>
          </thead>
          <tbody>
          {% for project in projects %}
          <tr>
            <td class="details-control"></td>
            <td>{{project.id}}</td>
            <td>{{project.community}}</td>
            <td>{{project.street}}</td>
            <td>{{project.housenr}}</td>
            <td>{{project.zipcode}}</td>
            <td>{{project.types}}</td>
            <td>
              <a href="#" data-toggle="modal" data-target="#contract-basic-modal" data-project_id="{{project.id}}"><i class="material-icons md-24">&#xe03b;</i></a>
            </td>
            <td>
              <a href="#" data-toggle="modal" data-target="#project-modal" data-project="{{project|json}}"><i class="material-icons md-24">&#xe3c9;</i></a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- large modal -->

<!-- add and edit project modal -->
{% include 'modal_project.html' %}

<!-- add and edit contract basic modal -->
{% include 'modal_contract_basic.html' %}

<!-- add contract modal -->


<iframe id="file_tobe_printed" src="" hidden></iframe>

<div id="del-user" class="modal" data-backdrop="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete User</h5>
      </div>
      <div class="modal-body text-center p-lg">
        <p>Are you sure to delete this user: <span id="delusername" style="font-weight:bold"></span>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
        <a type="button" class="btn danger p-x-md">Yes</a>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>

<!-- / .modal -->
<!-- ############ PAGE END-->
<script type="text/javascript">
    //page gobal array
    var sub_datatable_opened = [];

    // Attach a submit handler to the form
    $( "#add-contract-modal-form" ).submit(function( event ) {

        // Stop form from submitting normally
        event.preventDefault();

        // Get some values from elements on the page:
        url = $( "#add-contract-modal-form" ).attr( "action" );

        // Send the data using post
        var posting = $.post( url, $( "#add-contract-modal-form" ).serialize() );

        // Put the results in a div
        posting.done(function( data ) {
            $('#add-contract-modal').modal('hide');
            sub_datatable_opened.forEach(function(sub_datatable_id) {
                $('#'+sub_datatable_id).DataTable().ajax.reload();
            });
        });
    });

    /* Formatting function for row details - modify as you need */
    function contractOverview ( d ) {
        // `d` is the original data object for the row
        return '<table id="'+d[1]+'"class="table table-striped b-t b-b dataTable no-footer" cellpadding="5" ui-jp="dataTable" cellspacing="0" border="0" style="padding-left:50px;">'+
            '</table>';
    }

    function contractDetail ( d ) {
        // `d` is the original data object for the row
        return '<div style="font-size:18px" class="box">'+
            '<ul class="list inset m-0">'+
            '<li class="list-item">'+
            '<a href="/contracts/edit/'+d.id+'" class="list-left">'+
            '<span class="w-40 circle accent">'+
            '<i class="fa fa-envelope"></i>'+
            '</span>'+
            '</a>'+
            '<div class="list-body">'+
            '<div class="form-group row">'+
            '<div class="col-md-4">'+
            '<div style="font-size:22px">'+d.permission_status+'</div>'+
            '</div>'+
            '<div id="manager_name_d" class="form-group col-md-3" onmouseover="showEditState(manager_name_edit_icon)" onmouseleave="hideEditState(manager_name_edit_icon)">'+
            '<div id="manager_name_text">'+d.manager_name+'</div>'+
            '<input id="manager_name_input" onkeypress="handleEnter(event, 1)" class="form-control" type="text" data-contractid="'+d.id+'" value="'+d.manager_name+'" hidden/>'+
            '<a onclick="showInput(1)"> <i id="manager_name_edit_icon" class="material-icons md-24" hidden>&#xe3c9;</i></a>'+
            '</div> '+
            '<div id="worker_name_d" class="form-group col-md-3" onmouseover="showEditState(worker_name_edit_icon)" onmouseleave="hideEditState(worker_name_edit_icon)">'+
            '<div id="worker_name_text">'+d.worker_name+'</div>'+
            '<input id="worker_name_input" onkeypress="handleEnter(event, 2)" class="form-control" type="text" data-contractid="'+d.id+'" value="'+d.worker_name+'" hidden/>'+
            '<a onclick="showInput(2)"> <i id="worker_name_edit_icon" class="material-icons md-24" hidden>&#xe3c9;</i></a>'+
            '</div> '+            
            '</div>'+
            '</div>'+
            '</li>'+
            '<li class="list-item">'+
            '<a href="/contracts/edit/'+d.id+'" class="list-left">'+
            '<span class="w-40 circle green">'+
            '<i class="fa fa-smile-o"></i>'+
            '</span>'+
            '</a>'+
            '<div class="list-body">'+
            '<div class="form-group row">'+
            '<div class="col-md-4">'+
            '<div style="font-size:22px">'+d.building_status+'</div>'+
            '</div>'+
            '<div class="form-group col-md-3">'+
            d.building_begin+
            '</div> '+
            '<div class="form-group col-md-4">'+
            d.building_end+
            '</div> '+
            '</div>'+
            '</div>'+
            '</li>'+
            '<li class="list-item">'+
            '<a href="/contracts/edit/'+d.id+'" class="list-left">'+
            '<span class="w-40 circle warn">'+
            '<i class="fa fa-flash"></i>'+
            '</span>'+
            '</a>'+
            '<div class="list-body">'+
            '<div class="form-group row">'+
            '<div class="col-md-4">'+
            '<div style="font-size:22px">'+d.ofw_status+'</div>'+
            '</div>'+
            '<div class="form-group col-md-3">'+
            d.sum_value+
            '</div> '+
            '<div class="form-group col-md-4">'+
            d.current_value+
            '</div> '+
            '</div>'+
            '</div>'+
            '</li>'+
            '<li class="list-item">'+
            '<a href="/contracts/edit/'+d.id+'" class="list-left">'+
            '<span class="w-40 circle danger">'+
            '<i class="fa fa-database"></i>'+
            '</span>'+
            '</a>'+
            '<div class="list-body">'+
            '<div class="form-group row">'+
            '<div class="col-md-4">'+
            '<div style="font-size:22px">'+d.invoice_status+'</div>'+
            '</div>'+
            '<div class="form-group col-md-3">'+
            d.cost_code+
            '</div> '+
            '</div>'+
            '</div>'+
            '</li>'+
            '<li class="list-item">'+
            '<div class="form-group">'+
            '<textarea style="width:100%" class="form-control" rows="4" data-minwords="6" '+
            'required="" placeholder="Kommentar">'+d.comment+'</textarea>'+
            '</div>'+
            '</li>'+
            '<li class="list-item">'+
            '<div class="form-group row">'+
            '<div class="col-md-1">'+
            '<button type="submit" class="btn success">打开文件夹</button>'+
            '</div>'+
            '<div class="col-md-1">'+
            '<button onclick="printTemplate(\''+d.id+'\')" type="submit" class="btn success">打印模板</button>'+
            '</div>'+
            '<div class="col-md-1">'+
            '<button type="submit" class="btn success">建立XXX</button>'+
            '</div>'+
            '<div class="col-md-2">'+
            '</div>'+
            '</div>'+
            '</li>'+
            '</ul>'+
            '</div>';
    }

    $(document).ready(function() {
        // Add event listener for opening and closing details
        $('#project tbody').on('click', 'td.details-control', function () {
            var table = $('#project').DataTable();
            var tr = $(this).closest('tr');
            var row = table.row( tr );
            var id = row.data()[1];

            if ( row.child.isShown() ) {
                var index = sub_datatable_opened.indexOf(id);
                if (index > -1) {
                    sub_datatable_opened.splice(index, 1);
                }

                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                var index = sub_datatable_opened.indexOf(id);
                if (index < 0) {
                    sub_datatable_opened.push(id);
                }
                // Open this row
                row.child( contractOverview(row.data()) ).show();
                // set subTableid,use project_id

                var addr = row.data()[4] +', '+ row.data()[3]+ ', '+row.data()[2];
                var subTable = $('#'+id).DataTable( {
                    "info" : false,
                    "paging": false,
                    "ordering": false,
                    "searching": false,
                    "ajax": '/contracts/project?projectid=' + id,
                    "columns": [
                        {
                            "className":      'details-control-sub',
                            "orderable":      false,
                            "data":           null,
                            "defaultContent": ''
                        },
                        { "data": "id" },
                        { "data": "addr" },
                        { "data": "work_content" },
                        { "data": "cost_code" },
                        { "data": "customer" },
                        { "data": "status_finished" },
                        {
                            "data": "id",
                            "render": function ( data, type, full, meta ) {
                                return '<a href="/contracts/edit/'+data+'?project_id='+id+'&project_adr='+addr+'" ><i class="material-icons md-24">&#xe3c9;</i></a>';
                            }
                        }
                    ]
                } );
                $( subTable.table().header() ).remove();
                tr.addClass('shown');

                $('#'+id+' tbody').on('click', 'td.details-control-sub', function () {
                    var tr = $(this).closest('tr');
                    var row = subTable.row( tr );
                    if ( row.child.isShown() ) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        row.child( contractDetail(row.data()) ).show();
                        tr.addClass('shown');
                    }
                });

            }
        } );

        //triggered when modal is about to be shown
    } );

function showEditState(id){
  $(id).removeAttr('hidden');
}

function hideEditState(id){
  $(id).attr('hidden', 'hidden');
}

function showInput(type){
  switch(type)
  {
  case 1://manager_name
    $('#manager_name_text').attr('hidden','hidden');
    $('#manager_name_input').removeAttr('hidden');
    $('#manager_name_edit_icon').attr('hidden','hidden');
    $('#manager_name_d').removeAttr('onmouseover');
    $('#manager_name_d').removeAttr('onmouseleave');
    break;
  case 2:
    $('#worker_name_text').attr('hidden','hidden');
    $('#worker_name_input').removeAttr('hidden');
    $('#worker_name_edit_icon').attr('hidden','hidden');
    $('#worker_name_d').removeAttr('onmouseover');
    $('#worker_name_d').removeAttr('onmouseleave');  
    break;
  }
}

function handleEnter(e, type){
  let keynum = 0;
  if(window.event) // IE
  {
    keynum = e.keyCode;
  }
  else if(e.which) // Netscape/Firefox/Opera
  {
    keynum = e.which;
  }
  if(keynum == 13) //enter press
  {
    switch(type)
    {
    case 1://manager_name
      var id = $('#manager_name_input').data('contractid');
      var value = $('#manager_name_input').val();
      postContractEditPartial(id, {'manager_name':value}, function(err){
        if(err) bootbox.alert('update failed!');
        else{
          bootbox.alert('update ok!');
          $('#manager_name_text').text(value);
        }
      });
      $('#manager_name_text').removeAttr('hidden','hidden');
      $('#manager_name_input').attr('hidden', 'hidden');
      $('#manager_name_d').attr('onmouseover', 'showEditState(manager_name_edit_icon)');
      $('#manager_name_d').attr('onmouseleave', 'hideEditState(manager_name_edit_icon)');
      break;
    case 2:
      var id = $('#worker_name_input').data('contractid');
      var value = $('#worker_name_input').val();
      postContractEditPartial(id, {'building_work.worker_name':value}, function(err){
        if(err) bootbox.alert('update failed!');
        else{
          bootbox.alert('update ok!');
          $('#worker_name_text').text(value);
        }
      });
      $('#worker_name_text').removeAttr('hidden','hidden');
      $('#worker_name_input').attr('hidden', 'hidden');
      $('#worker_name_d').attr('onmouseover', 'showEditState(worker_name_edit_icon)');
      $('#worker_name_d').attr('onmouseleave', 'hideEditState(worker_name_edit_icon)');    
      break;
    } 
  }
}

function postContractEditPartial (id, data, callback){
  url = '/contracts/edit/partial/'+id;
  var posting = $.post( url, data );
  posting.done(function( data ) {
    if(data!='ok') {
      let err = 'err';
      callback(err);
    }
    else
      callback(undefined);
  });
}

function printTemplate(id){
  url = '/contracts/print/'+id;
  var posting = $.post( url, {} );
  posting.done(function( data ) { 
    $('#file_tobe_printed').attr('src', data);
    //var iframe = document.getElementById('file_tobe_printed');
    //iframe.contentWindow.print();
    //alert(data);
    return;
    if(data!='ok') {
      let err = 'err';
      callback(err);
    }
    else
      callback(undefined);
  });  
}
</script>
<!-- ############ PAGE END-->
{% endblock %}