{% extends 'layout.html' %}
{% block content %}

<!-- ############ PAGE START-->
<div class="row no-gutter">
  <div class="col-sm-3 col-lg-2">
    <div class="p-y">
      <div class="nav-active-border left b-primary">
        <ul class="nav nav-sm flex-column">
          <li class="nav-item">
            <a class="nav-link block active" href data-toggle="tab" data-target="#tab-1">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link block" href data-toggle="tab" data-target="#tab-2">Add User</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-lg-10 light lt">
    <div class="tab-content pos-rlt">
      <div class="tab-pane active" id="tab-1">
        <div class="box">
          <div class="box-header">
            <h2>Overview</h2>
            <small>show the list of the employees</small>
          </div>
          <div class="box-body">
            Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>
          </div>
          <div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="2">
              <thead>
                <tr>
                    <th data-toggle="true">
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th data-hide="phone,tablet">
                        Job Title
                    </th>
                    <th data-hide="phone,tablet" data-name="Date Of Birth">
                        DOB
                    </th>
                    <th data-hide="phone">
                        Status
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>Isidra</td>
                    <td><a href>Boudreaux</a></td>
                    <td>Traffic Court Referee</td>
                    <td data-value="78025368997">22 Jun 1972</td>
                    <td data-value="1"><span class="label success" title="Active">Active</span></td>
                </tr>
                <tr>
                    <td>Shona</td>
                    <td>Woldt</td>
                    <td><a href>Airline Transport Pilot</a></td>
                    <td data-value="370961043292">3 Oct 1981</td>
                    <td data-value="2"><span class="label" title="Disabled">Disabled</span></td>
                </tr>
                <tr>
                    <td>Granville</td>
                    <td>Leonardo</td>
                    <td>Business Services Sales Representative</td>
                    <td data-value="-22133780420">19 Apr 1969</td>
                    <td data-value="3"><span class="label warning" title="Suspended">Suspended</span>
                    </td>
                </tr>
              </tbody>
              <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="2" class="text-center">
                        <ul class="pagination"></ul>
                    </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-2">
        <div class="p-a-md dker _600">Add User</div>
        <form role="form" class="p-a-md col-md-6">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Department</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Company</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Short</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Role</label>
              <select class="form-control c-select">
                <option>Role 1</option>
                <option>Role 2</option>
                <option>Role 3</option>
              </select>
          </div>
          <button type="submit" class="btn btn-info m-t">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- .modal -->
<div id="modal" class="modal fade animate black-overlay" data-backdrop="false">
  <div class="row-col h-v">
    <div class="row-cell v-m">
      <div class="modal-dialog modal-sm">
        <div class="modal-content flip-y">
          <div class="modal-body text-center">          
            <p class="p-y m-t"><i class="fa fa-remove text-warning fa-3x"></i></p>
            <p>Are you sure to delete your account?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn white p-x-md" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger p-x-md" data-dismiss="modal">Yes</button>
          </div>
        </div><!-- /.modal-content -->
      </div>
    </div>
  </div>
</div>
<!-- / .modal -->

<!-- ############ PAGE END-->
{% endblock %}