{% extends 'layout.html' %}
{% block content %}
<!-- ############ PAGE START-->
  <div class="box">
    <div class="box-header">
      <h3>List of the Users</h3>
    </div>
      <div class="row p-a">
        <div class="col-sm-5">
          <form ui-jp="parsley" id="form" action="/users/add" method="get">
            <select class="input-sm form-control w-sm inline v-middle" name="action">
              <option value="adduser">Add New User</option>
              <option value="delselected">Delete selected</option>
            </select>
            <button class="btn btn-sm white">Apply</button> 
          </form>               
        </div> 
        <div class="col-sm-4">
        </div>
        <div class="col-sm-3">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn b-a white" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped b-t">
          <thead>
            <tr>
              <th style="width:20px;">
                <label class="ui-check m-0">
                  <input type="checkbox"><i></i>
                </label>
              </th>
              <th>Name</th>
              <th>Email</th>
              <th>Tel</th>
              <th>Position</th>
              <th>Role</th>
              <th>created</th>
              <th style="width:50px;"></th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td><label class="ui-check m-0"><input type="checkbox" name="post[]"><i class="dark-white"></i></label></td>
                <td>{{user.firstname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.tel}}</td>
                <td>{{user.position}}</td>
                <td>{{user.role}}</td>
                <td>{{user.ts}}</td>
                <td>
                  <a href="/users/edit/111"><i class="material-icons md-24">&#xe3c9;</i></a>
                </td>
              </tr>
            {% endfor %}           
          </tbody>
        </table>
      </div>
      <footer class="dker p-a">
        <div class="row">
          <div class="col-sm-4 hidden-xs">
          </div>
          <div class="col-sm-4 text-center">
            <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
          </div>
          <div class="col-sm-4 text-right text-center-xs">                
            <ul class="pagination pagination-sm m-0">
              <li><a href><i class="fa fa-chevron-left"></i></a></li>
              <li class="active"><a href>1</a></li>
              <li><a href>2</a></li>
              <li><a href>3</a></li>
              <li><a href>4</a></li>
              <li><a href>5</a></li>
              <li><a href><i class="fa fa-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
      </footer>
  </div>

<!-- ############ PAGE END-->
{% endblock %}